{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Feature extraction GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/efelg.css' %}">
    <link rel="icon" href="{% static 'efelg/img/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'hhnb-matomo.js' %}"></script>
</head>

<body>
    <header class="site-header sticky-top bg-primary text-white text-center px-15 py-4">
        <div class="row">
            <div class="col-xl-3 col-6 text-start align-self-center">
                <a href="https://ebrains.eu" target="_blank">
                    <img src="{% static 'efelg/img/ebrains_logo.png' %}" alt="ebrains_logo" style="max-width:130px" />
                </a>
            </div>
            <div class="col-xl-6 align-self-center order-last">
                <h2 class="m-0"><strong><a class="text-white text-decoration-none"
                            href="/efelg/overview/">NeuroFeatureExtract</a></strong></h2>
            </div>
            <div class="col-xl-3 col-6 text-end align-self-center order-xl-last">
                <a href="/efelg/overview/"><i class="fas fa-home text-white ms-4"></i></a>
                <a href="/efelg/docs/" target="_blank"><i class="fas fa-info-circle text-white ms-4"></i></a>
                <a href="https://object.cscs.ch:443/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/web-resources-bsp/cls-video-tutorial/NFE/NFE_video_tutorial_v01.mp4"
                    target="_blank"><i class="fas fa-play text-white ms-4"></i>
                </a>
            </div>
        </div>
        <div class="row mt-2">
            <h4>Overview</h4>
        </div>
        <div class="row"><div id="efel-wf-id" class="flex-center">Workflow id: </div></div>
    </header>
    <main class="my-4 mx-15">
        <div class="text-center">
            <h4>
                <p>
                    The NeuroFeatureExtract tool allows users to select data from an HBP dataset and/or upload their
                    own, and
                    extract electrophysiological features of interest.
                </p>
                <br>
                <p>
                    The application leverages the Python Electrophys Feature Extract Library
                    (<a class="link-secondary" href="https://pypi.python.org/pypi/efel" target=_blank>eFEL</a>)
                    and provides a friendly interface to select both individual voltage traces (based on the stimulus
                    current applied)
                    and features to be extracted.
                </p>
                <br>
                <p>
                    Please find below a short tutorial on how to use the application, or refer to the complete guide at
                    this
                    <a class="link-secondary" href="https://collab.humanbrainproject.eu/#/collab/1655/nav/18580"
                        target=_blank>link</a>.
                </p>
            </h4>
        </div>
        <div class="text-center mt-3 mb-5">
            <button class="btn btn-lg btn-outline-primary w-25 mt-4 mb-3" type="submit" onclick="loadShowTraces()">
                Next
            </button>
            <br>
            <a class="light-grey-text text-decoration-none clickable" id="tutorial_button" onclick="toggleTutorial()">
                Show tutorial
            </a>
        </div>
        <div id="tutorial_div" class="openable">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div id="carousel_div" class="carousel-inner border-top">
                    <div class="carousel-item mt-3 active">
                        <div class="row py-3 w-75 m-auto">
                            <div class="col-xl-6">
                                <b>Step 1 of 4</b>
                                <a class="light-grey-text text-decoration-none ms-4 clickable"
                                    onclick="loadShowTraces()">
                                    [skip introduction]
                                </a>
                                <p class="mt-2">
                                    Select the data from a dataset, based on cell properties to be chosen from the
                                    filter dropdown
                                    menus. Additionally and/or alternatively upload your own data for processing (see
                                    Fig. 1). The
                                    only file extension allowed at present is .abf (axon binary file)
                                    and the uploaded files must contain both the voltage and the stimulus signals. This
                                    is a
                                    mandatory condition for several features to be computed and for the feature
                                    extraction process
                                    to be completed successfully. The analog voltage
                                    and stimulus signals are extracted through the <b>neo</b> python library, designed
                                    for
                                    representing different formats of intracellular and extracellular
                                    electrophysiological data (see
                                    <a class="link-secondary" href="https://pypi.python.org/pypi/neo/"
                                        target=_blank>neo</a>
                                    for a complete reference).
                                </p>
                            </div>
                            <div class="col-xl-6 align-self-center">
                                <figure>
                                    <img src="{% static 'efelg/img/efelg_selection.png' %}" alt="efel_selection"
                                        class="border border-2 border-light img-fluid" />
                                    <figcaption class="text-center">Fig 1. - Traces selection</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item mt-3">
                        <div class="row py-3 w-75 m-auto">
                            <div class="col-xl-6 align-self-center">
                                <figure>
                                    <img src="{% static 'efelg/img/efelg_traces.png' %}" alt="efel_traces"
                                        class="border border-2 border-light img-fluid" />
                                    <figcaption class="text-center">Fig 2. - Voltage traces selection</figcaption>
                                </figure>
                            </div>
                            <div class="col-xl-6 align-self-center">
                                <b>Step 2 of 4</b>
                                <a class="light-grey-text text-decoration-none ms-4 clickable"
                                    onclick="loadShowTraces()">
                                    [skip introduction]
                                </a>
                                <p class="mt-2">
                                    Once the filtering/upload done, individual traces are plotted and can be checked for
                                    selection.
                                    Traces represent the voltage membrane responses of the selected cell to the stimulus
                                    displayed
                                    in the legend. Highlight individual traces by hovering on the
                                    corresponding stimulus and select them by clicking on the same legend or through the
                                    selection
                                    buttons (see Fig. 2). When all the traces of interest have been selected, go the
                                    next page for
                                    feature selection.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item mt-3">
                        <div class="row py-3 w-75 m-auto">
                            <div class="col-xl-6 align-self-center">
                                <b>Step 3 of 4</b>
                                <a class="light-grey-text text-decoration-none ms-4 clickable"
                                    onclick="loadShowTraces()">
                                    [skip introduction]
                                </a>
                                <p class="mt-2">
                                    The feature selection page allows you to select the features to extract from the
                                    electrophysiological chosen signals. Features are grouped by type: 1) Spike event
                                    features - 2)
                                    Spike shape features and 3) Voltage features, and are selected by clicking
                                    on the corresponding box. When hovering on feature names a brief description is
                                    provided (see
                                    Fig. 3). Once the selection is completed, click on the Next button to launch the
                                    extraction
                                    process.
                                </p>
                            </div>
                            <div class="col-xl-6 align-self-center">
                                <figure>
                                    <img src="{% static 'efelg/img/efelg_features.jpg' %}" alt="efel_features"
                                        class="border border-2 border-light img-fluid" />
                                    <figcaption class="text-center">Fig 3. - Feature selection</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item mt-3">
                        <div class="row py-3 w-75 m-auto">
                            <div class="col-xl-6 align-self-center">
                                <figure>
                                    <img src="{% static 'efelg/img/efelg_download.png' %}" alt="efel_download"
                                        class="border border-2 border-light img-fluid" />
                                    <figcaption class="text-center">Fig 4. - Results page</figcaption>
                                </figure>
                            </div>
                            <div class="col-xl-6 align-self-center">
                                <b>Step 4 of 4</b>
                                <a class="light-grey-text text-decoration-none ms-4 clickable"
                                    onclick="loadShowTraces()">
                                    [skip introduction]
                                </a>
                                <p class="mt-2">
                                    The feature extraction process computes the means and standard deviations of the
                                    selected
                                    features for individual cells and for individual stimuli. Once a stimulus is chosen
                                    for a single
                                    file, it will be taken into account for all the selected files corresponding
                                    to the same cell. Finally, a grand mean is computed among different cells.<br>
                                    A <b>features.json</b> and <b>protocols.json</b> files are generated for both
                                    individual cells and
                                    the entire ensemble. These files contain the above mentioned grand-means and the
                                    protocols adopted for the experimental
                                    recordings.
                                    They are intended to be used for the data-driven optimization step of the
                                    Hodgkin-Huxley Neuron Builder workflow
                                    (via the
                                    <a class="link-secondary" href="https://github.com/BlueBrain/BluePyOpt/"
                                        target=_blank>
                                        BluePyOpt</a>
                                    software library), made available to the user at this
                                    <a class="link-secondary" href="https://hbp-bsp-hhnb.cineca.it/hh-neuron-builder/"
                                        target=_blank>
                                        link</a>.
                                    <br>
                                    A link to a .zip file containing the entire set of results is provided in the
                                    results page (see Fig. 4).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"
                    onclick="$('#carousel').carousel('prev');">
                    <span><i class="fa fa-3x fa-angle-left link-secondary" aria-hidden="true"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next"
                    onclick="$('#carousel').carousel('next');">
                    <span><i class="fa fa-3x fa-angle-right link-secondary" aria-hidden="true"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </main>
    <!-- div for loading message start -->
    <!--
            <div id="termsConditions" class="row-center-container" 
                                    style="display: none;">
                <div id="termsContainer" class="row-center-container 
                terms-obj-container">
                    <div>
                        <h1>Terms & Conditions</h1>
                        <br>
                        By clicking the <b>Accept</b> button below, you accept to 
                        <b>CITE THE CONTRIBUTORS</b> of the data you will select in 
                        this application, in <b>ANY FUTURE SCIENTIFIC PUBLICATION OF 
                            ANY TYPE</b>.
                        <br>
                        <br>
                        Any other use of the data is not allowed without consent.
                        <br>
                        <br>
                        The citation format will be printed in the 
                        <b>HOWTOCITE.txt</b> file that will be contained in the 
                        downloadable <i>&ltdatetime&gt_results.zip</i> created at 
                        the end of the Feature Extraction process.
                        <br>
                        <br>
                        This server will keep track of your decision.
                        <br>
                        <br>
                        <br>
                        <input id='accept_btn' class="accept-btn btn" 
                                            type="submit" value="Accept">
                        <input id='decline_btn' class="decline-btn btn" 
                                                type="submit" value="Decline">
                    </div>
                </div>
            </div>
            -->
        <script>
            const efel_wf_id = "{{ efel_wf_id }}";
            document.getElementById("efel-wf-id").innerText = "Workflow id: " + efel_wf_id;
        </script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'efelg/js/overview.js' %}"></script>
<script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>

</html>