{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Feature extraction GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/efelg.css' %}">
    <link rel="icon" href="{% static 'ebrains/img/favicon.svg' %}">
    <script type="text/javascript" src="{% static 'hhnb-motomo.js' %}"></script>
</head>

<body>
    <header class="site-header sticky-top bg-primary text-white px-15 py-4 text-center">
        <div class="row">
            <div class="col-xl-3 col-6 text-start align-self-center">
                <a href="https://ebrains.eu" target="_blank">
                    <img src="{% static 'ebrains/img/ebrains_logo.svg' %}" alt="ebrains_logo" style="max-width:130px"/>
                </a>
            </div>
            <div class="col-xl-6 align-self-center order-last">
                <h2 class="m-0"><strong><a class="text-white text-decoration-none" href="/efelg/overview/">NeuroFeatureExtract</a></strong></h2>
            </div>
            <div class="col-xl-3 col-6 text-end align-self-center order-xl-last">
                <a href="/efelg/overview/"><i class="fas fa-home text-white ms-4"></i></a>
                <a href="/efelg/docs/" target="_blank"><i class="fas fa-info-circle text-white ms-4"></i></a>
                <a href="https://object.cscs.ch:443/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/web-resources-bsp/cls-video-tutorial/NFE/NFE_video_tutorial_v01.mp4"
                        target="_blank"><i class="fas fa-play text-white ms-4"></i>
                </a>
            </div>
        </div>
        <div class="row mt-2">
            <h4>Feature selection</h4>
        </div>
        <div class="row"><div id="efel-wf-id" class="flex-center">Workflow id: </div></div>
    </header>
    <div id="main-sf-div" class="mx-10 my-3">
        <div class="text-center">
            <span>
                For a description of the eFEL software and for a list of feature definitions and implementation,
                please refer to this link
                <a href="http://bluebrain.github.io/eFEL/index.html" target="_blank">link</a>.
                A .pdf document with feature description is also available
                <a href="http://bluebrain.github.io/eFEL/efeature-documentation.pdf" target="_blank">here</a>.
                
            </span>
        </div>
        <form id="select_feature_form" action="/efelg/results/" method="POST">{% csrf_token %}
            <fieldset id="field_set">
                <div id="mainDiv">
                </div>
                <button class="btn btn-lg btn-outline-primary my-3 w-100" onclick="submitForm()">Next</button>
            </fieldset>
        </form>
    </div>


    <!-- Warnin div -->
    <div id="warning-div" class="overlay-wrapper">
        <div style="top:40%;" class="overlay-content">
            <span id="warning-text" class="text-danger fs-5">No feature selected</span>
            <br>
            <button class="btn btn-outline-primary mt-4 mb-2 w-50"
                onclick="closeMessageDiv('warning-div', 'main-sf-div')">
                Close
            </button>
        </div>
    </div>
    <script>
        const efel_wf_id = "{{ efel_wf_id }}";
        document.getElementById("efel-wf-id").innerText = "Workflow id: " + efel_wf_id;
    </script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'common/js/global.js' %}"></script>
<script type="text/javascript" src="{% static 'efelg/js/select_features.js' %}"></script>
<script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>

</html>
