*.log
*.pyc
*.swp
*.swo

packages
venvbspg
letsencrypt
media
db.sqlite3
bower_components
bspg/debug.py
bspg/keys
bspg/credentials.json
static/bspganalytics.js
static/epfl_bspg_analytics.js
static/ibf_bspg_analytics.js
