*.pyc
*.log
.idea/
.vscode/
.vs/
.editorconfig

*/migrations/

*/migrations/

db.sqlite3
efelg_access.log
hhnb_access.log


hh_neuron_builder/config/dev_conf.py
hh_neuron_builder/config/prod_conf.py


efel.log
hhnb.log
job_handler.log
debug.log

.DS_Store
.venv
