bleach==1.4.3
cycler==0.10.0
Django==1.10.2
django-bower==5.2.0
django-sslserver==0.19
djangorestframework==3.5.1
efel==2.10.114
html5lib==0.9999999
Markdown==2.6.7
matplotlib==1.5.3
neo==0.4.1
numpy==1.11.2
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
quantities==0+unknown
six==1.10.0
uWSGI==2.0.14
