{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBP Login</title>
    <script>
        var login_config = "{{ login_config }}";
        sessionStorage.setItem("login_config", login_config);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'hbp_login/js/jso.js' %}"></script>
    <script src="{% static 'hbp_login/js/hbp-login.js' %}"></script>
</head>
<body>
<div style="">
    <form id="form_sample" method="post" action="">
        <input id="token_input" type="text" name="token">
        <input type="submit" value="Submit">
    </form>
</div>
</body>