{% load static %}
{% load oidc_session %}

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>
        <title>Feature extraction GUI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bspg.css' %}">

    </head>
    <body>

        <!-- Execution completed div  -->
        <div id=hiddendiv style="display:none;"></div>
        <div style="text-align: center" class="alert alert-success">
            <h2>Execution completed<br><a href="/efelg/download_zip" class="alert-link">Download all results in .zip format</a></h2>
        </div>

        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'efelg/js/extract_features.js' %}"></script>
        <script>


</body>
</html>
