{% load static %}
{% load oidc_session %}

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>
        <title>Feature extraction GUI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bspg.css' %}">
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'efelg/js/select_features.js' %}"></script>
    </head>
    <body>
	<!-- div for loading message start -->
	<div id="load-message" class="loader" style="display:none">
    	<div class="loader-obj-container">
        	<div class="glyphicon glyphicon-refresh spinning lg" style="text-align:center"></div>
    		<div>
    		<p>Extracting features from traces. This may take a few minutes.</p>
    		<p>Please wait ...</p>
    		</div>
    	</div>
	</div>
        {% block content %}{% endblock %}
        <form id="select_feature_form" action="/efelg/extract_features/" method="post">{% csrf_token %}
            <fieldset id="field_set">
                <div class="panel panel-info" id="panels">
                    <div class="panel-heading">
                        <h3>Feature selection</h3>
                    </div>
                </div>

                <div id="mainDiv"></div>
                <button type="button" class="btn btn-primary" onclick="submit_form()">Next</button>
            </fieldset>
        </form>
    </body>
</html>
