{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>
        <script type="text/javascript" src="{% static 'plotly-latest.min.js    ' %}"></script>

        <title>Tutorial Application</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">



        <style>
            label {
                position:relative;   
                cursor:pointer;
            }
            label [type="checkbox"] {
                display:none; /* use your custom sprites instead as background on the span */
            }
            [type="checkbox"] + span {
                display:inline-block;
                padding:0.5em;
                background:#e0e0eb;  
            }
            :checked + span {
                background:#4d94ff;
            }
            [type="checkbox"][disabled] + span {
                background:#c2c2d6;  
            }​
        </style>




        {# Bower Dependencies #}
        <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="panel panel-info" id="panels">
            <div class="panel-heading">
                <h3>Select individual traces from the file lists</h3>
            </div>
        </div>

        <form action="/select_features/" method="post">
            {% for crr_file,stim in all_trace_dict.items %}
            <div class="panel panel-success" id="input-groups">
                <div class="panel-heading">File type and name: {{crr_file}}</div>
                <br>
                <input  id={{crr_file}} name='check_files_all' type='button' class="btn btn-link" value='Select/Deselect all' onclick="togglecheckboxes(this)">
                <br><br>
                {% for crr_stim in stim %}
                <div style="display:inline-block;">
                    <label> 
                        {% with crr_file|add:'_'|add:crr_stim as full_stim  %}
                        <input  class={{crr_file}} type="checkbox" id={{crr_stim}}  name='check_traces' value={{full_stim}}>
                        <span>Stim: {{crr_stim}} nA <br> ({{crr_file}})</span>
                    </label><br>
                    <div id={{full_stim}} style="width:350px; height:250px"></div>
                    {% endwith %}
                </div>
                {% endfor %}
                <br>
            </div>


            {% endfor %}
            <!--{{selected_files}}-->
            <br>
            <input type="submit" class="btn btn-primary" value="Select features">
            <br><br>
            <script>
                var my_dict = {{ all_trace_plt|safe}};
                var layout = {
                    xaxis: {range: [0, 5000]},
                    yaxis: {range: [-130, 50]},
                    showlegend : false,
                    margin: {l: 40, b: 70, t: 3},
                };
                for (var key in my_dict){
                    var y =[];
                    if (my_dict.hasOwnProperty(key)){
                        TESTER = document.getElementById(key);
                        var crr_data = my_dict[key];
                        y.push({y: crr_data[0]});
                        //Plotly.plot(TESTER, y, {margin: {t: 0}});
                        Plotly.newPlot(key, y, layout);
                        document.querySelector('[data-title="Autoscale"]').click();
                    }
                }
            </script>
        </form>
        {# Bower Dependencies #}
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lodash/dist/lodash.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
        <script>
            function togglecheckboxes(thisCheckbox){
                var crrid = thisCheckbox.id;
                var cbarray = document.getElementsByClassName(crrid);
                firstElem = document.getElementById(cbarray[1].id);
                if (firstElem.checked){
                    flag = false;
                    } else {
                    flag = true;
                }

                for(var i = 0; i < cbarray.length; i++){
                    var cb = document.getElementById(cbarray[i].id);
                    if(cb)
                    cb.checked = flag;
                }
            }
        </script>
    </body>
</html>
