{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>
        <title>Feature extraction GUI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bspg.css' %}">
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'efelg/js/select_features.js' %}"></script>
    </head>
    <body>
        <div id="message_div" style="display:none; text-align:center">
            <br><br>
            <p style="font-size:25px">Please wait. This may take a few minutes  ...</p>
            <span class="glyphicon glyphicon-refresh spinning lg"></span>
            <br>
        </div>
        {% block content %}{% endblock %}
            <form id="select_feature_form" action="/efelg/extract_features_rest/" method="post">
            <fieldset id="field_set">
                <div class="panel panel-info" id="panels">
                    <div class="panel-heading">
                        <h3>Feature selection</h3>
                    </div>
                </div>

                <div id="mainDiv"></div>
                <button type="button" class="btn btn-primary" onclick="submit_form()">Next</button>
            </fieldset>
        </form>
    </body>
</html>
