
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Feature extraction GUI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        {# Bower Dependencies #}
        <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bspg.css' %}">
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plotlyjs/plotly.js' %}"></script>
        <script type="text/javascript">
            //$.get( "/efelg/create_session_var" )
        </script>


        <style>
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
            }

            .fn-container {
                font-size: 20px;
            }

            .cell {
                margin: 2em 0;
            }

            .ctrl_box {
                font-family: sans-serif;
                color: #808080;
                width: 100%;
                text-align: center;
                padding: 15pt 0;
            }
	    
            #gonextform {
                display: inline;
            }
        </style>
    </head>



    <body>

        <div class="panel panel-info" width=100% id="input-groups">
            <div class="panel-heading"><h3>Voltage traces selection/upload</h3></div>
        </div>
        <br>



        <div class="panel panel-success" id="data-groups">
            <div class="panel panel-heading" id="filter-groups-title">
                Filter dataset files and select individual traces
            </div>


            <div class='ctrl_box'>
                <label>Cell properties:</label>
                <br>
                Species
                <select id="drop_species" class="btn btn-default">
                    <option value="">--</option>
                </select>
                -> Area 
                <select id="drop_area" class="btn btn-default">
                    <option value="">--</option>
                </select>
                -> Region
                <select id="drop_region" class="btn btn-default">  
                    <option value="">--</option>
                </select>
                -> Type 
                <select id="drop_type" class="btn btn-default">
                    <option value="">--</option>
                </select>
                -> eType 
                <select id="drop_etype" class="btn btn-default">
                    <option value="">--</option>
                </select>

                <button onclick='location.reload()' class="btn btn-default">reset</button>
            </div>

            <br>

            <div id='charts'></div>

        </div>
        <br>


        <form id="upload_files" name="upload_files_name" method="POST" enctype="multipart/form-data" action="/efelg/upload_files">{% csrf_token %}
            <div class="panel panel-success" id="input-groups">
                <div class="panel-heading">Upload your own file(s) and then select individual traces</div>
                <br>
                
                <label class="custom-file">
                    <input type="file" name="user_files" id="user_files" accept=".abf" multiple/>
                    <span class="custom-file-control"></span>
                </label>
                <br>
                
                <div id="fileloaderform">
                    <input type="submit" id="upload_button" name="upload_button_name" class="btn btn-default" value="Upload" />
                    
         		    <div class="glyphicon" style="text-align:center">
                            <span class="glyphicon glyphicon-refresh spinning lg"></span>
		            </div>
                </div>
            </div>
        </form>
        <div id='charts_upload'></div>



        <form id='gonextform' method='POST' action='/efelg/select_features/'>{% csrf_token %}
            <input name='data' type='hidden'>

            <button onclick='submitAll()' class="btn btn-primary">Next</button>
        </form>

        <!-- js script section -->
        <script>
            $('#fileloaderform > .glyphicon').hide()

            $("form#upload_files").submit(plotTraces, function(e) {
                if (e.target.files.length > 0) {
                    $('#fileloaderform > .glyphicon').show()
                
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        url: $(this).attr("action"),
                        data: formData,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        success: function(name_dict) {
                            $('#fileloaderform > .glyphicon').hide()
                        
                            $('#charts_upload').empty()
                            all_json_names = name_dict['all_json_names'];
                            index = 'user_div' 
                            $('#charts_upload').append('<div class="cell panel panel-default" id="' + index  + '"></div>')
                            $.each(all_json_names, function(idx, elem) {
                                $('#' + index).append('<div id="' + elem + '"></div>')
                                plotTraces(elem , elem)
                            })
                        }
                    });
                    e.preventDefault();
                    //return false
                }
            });


            function submitAll() {
                var data = serializeAll()
                var form = $('#gonextform')[0]

                form[0].value = JSON.stringify(data)
                form.submit()
            }

            function serializeAll() {
                var obj = {}
                var forms = $('form[id^="form_"]')

                for (var i=0; i < forms.length; i++) {
                    var cell_name = $(forms[i]).parent()[0].id
                    var traces = []
                    for (var j=0; j < forms[i].length; j++) {
                        if ((forms[i][j].checked))
                        traces.push(forms[i][j].name)
                    }

                    if (traces.length != 0)
                    obj[cell_name] = traces
                }

                return obj
            }

            function splitFilename(cellname){
                var filenameTokens = cellname.split('_');
                return filenameTokens
            }

            /*		resetAll()

            function resetAll() {
                */  	


                $('#charts').empty()

                $.getJSON('/efelg/get_list', function(data) {
                    cells_tree = {}
                    $.each(data, function(index, elem) {
                        params = elem.split('_')
                        branch = cells_tree
                        for (var i=0; i<6; i++) {
                            if (!(params[i] in branch) && i == 5)
                            branch[params[i]] = []
                            else if (!(params[i] in branch) && i != 5)
                            branch[params[i]] = {}

                            if (i == 5)
                            branch[params[i]].push(elem)

                            branch = branch[params[i]]
                        }
                    })

                    function enable_dropdown(el, tree) {
                        $(el).prop("disabled", false)
                        $(el).empty()
                        $(el).append('<option>--</option>')

                        $.each(Object.keys(tree), function(index, elem) {
                            var n = ' (' + Object.keys(tree[elem]).length + ')'
                            $(el).append('<option value="' + elem + '">' + elem + n + '</option>')
                        })

                        if ($(el).next('select').length == 0) {
                            $(el).on('change', function(ev) {
                                $(el).prop("disabled", true)

                                $.each(tree[ev.target.value], function(index, elem) {
                                    $('#charts').append('<div class="cell panel panel-default" id="' + index + '"></div>')

                                    $.each(elem, function(i, e) {
                                        $('#' + index).append('<div id="' + e + '"></div>')
                                        plotTraces(e, e)
                                    })
                                })
                            })                
                            } else {

                            $(el).on('change', function(ev) {
                                $(el).prop("disabled", true)

                                enable_dropdown($(el).next('select').eq(0), tree[ev.target.value])
                            })
                        }
                    }


                    $('.ctrl_box > select').prop("disabled", true)

                    enable_dropdown('#drop_species', cells_tree)
                })
                //	}

            function plotTraces(container_id, cellname) {
                var SHOW_FADED = 0.15
                var SHOW_CHECK = 0.75
                var SHOW_HOVER = 1.0

                $('#' + container_id).empty()

                $.getJSON('/efelg/get_data/' + cellname, function(data) {
                    data = JSON.parse(data)
		    crr_md5 = data['md5']
		    if ($('#info_' + crr_md5).length > 0){
		        crr_md5 = crr_md5 + 'crr'
		    }
                    info_container = 'info_' + crr_md5 
                    form_container = 'form_' + crr_md5
                    plot_container = 'plot_' + crr_md5
                    //info_container = 'info_' + data['md5'] 
                    //form_container = 'form_' + data['md5']
                    //plot_container = 'plot_' + data['md5']
                    fnTok = cellname.split('_')
                    //displayStr = fnTok.slice(0,5)
                    //displayStrJoin = displayStr.join(' -> ')
                    displayStrJoin = fnTok.join(' -> ')
                    $('#' + container_id).append('<div id="' + info_container + '" class="panel-heading fn-container"></div')
                        $('#' + info_container).append('<span></span>').text('Cell properties: ' + displayStrJoin)
                        $('#' + info_container).append('<br><br>')
                        $('#' + info_container).append('<button class="selall btn btn-link btn-default">Select all</button>')
                        $('#' + info_container).append('<button class="dselall btn btn-link btn-default">Deselect all</button>')
                        $('#' + info_container).append('<button class="invsel btn btn-default btn-link">Invert selection</button>')

                        $('#' + container_id).append('<form id="' + form_container + '"></form')
                            $('#' + form_container).hide()

                            $('#' + container_id).append('<div id="' + plot_container + '"></div')

                                plotdata = []
                                $.each(data['traces'], function(key, trace) {
                                    $('#' + form_container).append('<input type="checkbox" name="' + key + '">')

                                    var newTrace = {
                                        y: trace,
                                        name: key + ' ' + data['amp_unit'],
                                        mode: 'lines',
                                        hoverinfo: 'none',
                                        opacity: SHOW_FADED
                                    }
                                    plotdata.push(newTrace)
                                });

                                plotdata.sort(function(a, b) {
                                    a = parseFloat(a.name)
                                    b = parseFloat(b.name)

                                    if (a == b) {
                                        return 0	
                                        } else if (a < b) {
                                        return 1
                                        } else {
                                        return -1
                                    }                     
                                })

                                var layout = {
                                    legend: {
                                        orientation: "h",
                                        x: 0,
                                        y: 1.2,
                                    },
                                    margin: {l: 40, b: 60, t: 0} 
                                }

                                var n_traces = plotdata.length
                                var opacities = new Array(n_traces).fill(SHOW_FADED)
                                var opacity_before_hover = null

                                function requestUpdate(plt_name) {                 
                                    var update = {
                                        opacity: opacities
                                    }

                                    Plotly.restyle(plt_name, update).then(manageLegend)

                                    legend = Plotly.d3.select('#' + plt_name + ' g.legend')
                                    legend.selectAll('.traces').each(function(d, i) {
                                        Plotly.d3.select(this).style('opacity', opacities[i] + 0.4)
                                    })
                                }

                                Plotly.newPlot(plot_container, plotdata, layout, {displayModeBar: false}).then(manageLegend)
                                requestUpdate(plot_container)

                                document.getElementById(plot_container).on('plotly_relayout', function(ev) {
                                    var plot_id = $('#' + container_id + ' > div[id^="plot_"]')[0].id
                                    requestUpdate(plot_id)
                                })

                                document.querySelector('#' + container_id + ' .selall').onclick = function(ev) {
                                    var plot_id = $('#' + container_id + ' > div[id^="plot_"]')[0].id
                                    console.log(container_id)

                                    opacities.fill(SHOW_CHECK)
                                    $('#' + container_id + ' form > input').prop('checked', true)

                                    requestUpdate(plot_id)
                                }

                                document.querySelector('#' + container_id + ' .dselall').onclick = function(ev) {
                                    var plot_id = $('#' + container_id + ' > div[id^="plot_"]')[0].id

                                    opacities.fill(SHOW_FADED)
                                    $('#' + container_id + ' form > input').prop('checked', false)

                                    requestUpdate(plot_id)
                                }

                                document.querySelector('#' + container_id + ' .invsel').onclick = function(ev) {
                                    var plot_id = $('#' + container_id + ' > div[id^="plot_"]')[0].id

                                    for (var i = 0; i < opacities.length; i++) {
                                        opacities[i] = opacities[i] == SHOW_FADED ? SHOW_CHECK : SHOW_FADED

                                        var cb = $('#' + container_id + ' form > input')[i]
                                        cb.checked = ! cb.checked
                                    }

                                    requestUpdate(plot_id)
                                }

                                function manageLegend(plt_elem) {
                                    legend = Plotly.d3.select('#' + plt_elem.id + ' g.legend')
                                    elems = legend.selectAll('.traces rect')

                                    function savePrevious(d) {
                                        var i = d[0].trace.index

                                        opacity_before_hover = opacities[i]

                                        opacities[i] = SHOW_HOVER

                                        requestUpdate(plt_elem.id)
                                    }

                                    function restorePrevious(d) {
                                        var i = d[0].trace.index

                                        opacities[i] = opacity_before_hover

                                        requestUpdate(plt_elem.id)
                                    }

                                    function setOpacity(d) {
                                        var form_name = 'form_' + plt_elem.id.slice('plot_'.length)
                                        var check_name = 'input[name^="' + d[0].trace.name.slice(0, -3) + '"]'

                                        if (opacity_before_hover == SHOW_FADED) {
                                            $('#' + form_name + ' > ' + check_name )[0].checked = true
                                            opacity_before_hover = SHOW_CHECK
                                            } else {
                                            $('#' + form_name + ' > ' + check_name)[0].checked = false
                                            opacity_before_hover = SHOW_FADED
                                        }
                                    }

                                    elems.each(function() {
                                        Plotly.d3.select(this).on('click', setOpacity)
                                        Plotly.d3.select(this).on('mouseenter', savePrevious)
                                        Plotly.d3.select(this).on('mouseleave', restorePrevious)
                                    })

                                }
                            })
                        }

		    </script>

                    {# Bower Dependencies #}
                    <!--
                    <script type="text/javascript" src="{% static 'lodash/dist/lodash.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
                    -->
                </body>
            </html>
