{% load static %}
{% load oidc_session %}

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>
        <title>Feature extraction GUI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bspg.css' %}">
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plotlyjs/plotly.js' %}"></script>
        <script type="text/javascript" src="{% static 'efelg/js/show_traces.js' %}"></script>

    </head>

    <body>

        <!-- div for loading message start -->
        <div class="loader" style="text-align:center">
            <div class="loader-obj-container">
            <div class="glyphicon glyphicon-refresh spinning lg" style="text-align:center"></div>
            <div>
                <p>Checking data permissions</p>
                <p>Please wait ...</p>
            </div>
            </div>
        </div>
        <!-- div for loading message end -->

        <div class="panel panel-info" width=100% id="input-groups">
            <div class="panel-heading"><h3>Voltage traces selection/upload</h3></div>
        </div>
        <br>


        <div class="panel panel-success" id="data-groups">
            <div class="panel panel-heading" id="filter-groups-title">
                Filter dataset files and select individual traces
            </div>


            <div class='ctrl_box'>
                <label>Cell properties:</label>
                <br>
                Species
                <select id="drop_species" class="btn btn-default">
                    <option value="">--</option>
                </select>
                > Structure 
                <select id="drop_area" class="btn btn-default">
                    <option value="">--</option>
                </select>
                > Region
                <select id="drop_region" class="btn btn-default">  
                    <option value="">--</option>
                </select>
                > Type 
                <select id="drop_type" class="btn btn-default">
                    <option value="">--</option>
                </select>
                > eType 
                <select id="drop_etype" class="btn btn-default">
                    <option value="">--</option>
                </select>

                <button onclick='location.reload()' class="btn btn-default">reset</button>
            </div>

            <br>

            <div id='charts'></div>

        </div>
        <br>


        <form id="upload_files" name="upload_files_name" method="POST" enctype="multipart/form-data" action="/efelg/upload_files">{% csrf_token %}
            <div class="panel panel-success" id="input-groups">
                <div class="panel-heading">Upload your own file(s) and then select individual traces</div>
                <br>
                
                <div class="panel">
                    <label class="btn btn-default btn-file">
                        Browse files...
                        <input type="file" name="user_files" id="user_files" accept=".abf" multiple style="display:none"/>
                        <span class="custom-file-control"></span>
                    </label>
                    
                    <input type="submit" id="upload_button" name="upload_button_name" class="btn btn-default" value="Upload" />
                        <div id="uploaded_names">
                            <br>
                            List of uploaded files:
                            <br>
                        </div>
	            </div>
	            
                <div id="loadfile_box" id="input-groups">
                    <div class="panel-heading">
             		    <div id="loadfile_icon" class="glyphicon" style="text-align:center">
                            <span class="glyphicon glyphicon-refresh spinning lg"></span>
	                    </div>
	                    
	                    
	                    <span id="loadfile_info"></span> 
                    </div>
                </div>
            </div>
        </form>
        <div id='charts_upload'></div>



        <form id='gonextform' method='POST' action='/efelg/select_features/'>{% csrf_token %}
            <input name='data' type='hidden'>

            <button onclick='submitAll()' class="btn btn-primary">Next</button>
        </form>

    </body>
</html>
