{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Feature extraction GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'efelg.css' %}">
    <link rel="icon" href="{% static 'efelg/img/favicon.ico' %}">
</head>

<body>
    <header class="site-header sticky-top bg-primary text-white px-15 py-4 text-center">
        <div class="row">
            <div class="col-xl-3 col-md-6 text-start align-self-center">
                <a href="https://ebrains.eu" target="_blank">
                    <img src="{% static 'efelg/img/ebrains_logo.png' %}" alt="ebrains_logo" style="max-width:130px"/>
                </a>
            </div>
            <div class="col-xl-6 align-self-center order-last">
                <h2 class="m-0"><strong><a class="text-white text-decoration-none" href="/efelg/overview/">NeuroFeatureExtract</a></strong></h2>
            </div>
            <div class="col-xl-3 col-md-6 text-end align-self-center order-xl-last">
                <a href="/efelg/overview/"><i class="fas fa-home text-white ms-4"></i></a>
                <a href="/efelg/docs/" target="_blank"><i class="fas fa-info-circle text-white ms-4"></i></a>
                <a href="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/web-resources-bsp/bsp-video-tutorials/FeatureExtraction/index.html"
                        target="_blank"><i class="fas fa-play text-white ms-4"></i>
                </a>
            </div>
        </div>
        <div class="row mt-2">
            <h4>Guidebook</h4>
        </div>
        <nav>
            <a class="text-white fs-6 text-decoration-none" href="/efelg/docs/index">Introduction</a>
            <a class="text-white fs-6 ms-2" href="/efelg/docs/file-formats">File Formats</a>
        </nav>
    </header>
    <main class="my-4 mx-15">
        <div class="text-justify py-3">
            <h4>
                Lorem ipsum       
            </h4>
        </div>
        <div class="mx-auto mt-5 px-0">
            <div class="row py-5 border-top">
                ABF
            </div>
            <div class="row py-5 border-top">
                JSON
            </div>
        </div>
    </main>
</body>

<script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>

</html>