/* .loading-animation.sublayer {
    position: absolute;
    background-color: rgba(0,0,0,0.70);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.loading-animation.container-glass:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.822);
    filter: blur(100px);
    margin: -20px;
}

.loading-animation.container-glass {
    width: 500px;
    height: 250px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .8); 
    border-radius: 25px;
    position: relative;
    top: 30%;
    z-index: 100;
    overflow: hidden;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0px;
}
 */

 .loading-animation.sublayer {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.70);
    text-align: center;
    z-index: 100;
    overflow-y: auto;
    padding: 50px;
    transition: all ease 0.3s;
}

.loading-animation.container-glass:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.822);
    filter: blur(100px);
    /* margin: -20px; */
    padding: 50px;
}

.loading-animation.container-glass {
    /* display: none; */
    position: relative;
    margin: auto;
    top: calc(30%);
    width: max-content;
    height: max-content;
    /* background-color: rgba(255, 255, 255, 0.144); */
    border: solid 1px black;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .8); 
    z-index: 100;
}

.loading-animation.text {
    text-align: center;
    /* font-size: 1.5rem; */
    font-weight: bold;
    /* color: rgb(11, 0, 109); */
    margin: auto;
    width: 345px;
    margin-bottom: 30px;
    /* margin-top: 25px; */
}

.loading-animation.frames {
    /* display: block; */
    /* visibility: hidden; */
    position: relative;
    margin: auto;
    /* margin-top: 10px; */
    height: 84px;
    width: 345px;
    z-index: 100;
    animation: loading-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.loading-animation.show {
    /* visibility: visible; */
    display: block;
    animation-play-state: initial;
}

.loading-animation.hide {
    /* visibility: hidden; */
    display: none;
    animation-play-state: unset;
}

@keyframes loading-animation {
    0%  {background-image: url('frame_0.png');}
    10%  {background-image: url('frame_1.png');}
    20%  {background-image: url('frame_2.png');}
    30%  {background-image: url('frame_3.png');}
    40%  {background-image: url('frame_4.png');}
    50%  {background-image: url('frame_5.png');}
    60%  {background-image: url('frame_6.png');}
    70%  {background-image: url('frame_7.png');}
    80%  {background-image: url('frame_8.png');}
    90%  {background-image: url('frame_9.png');}
    100% {background-image: url('frame_0.png');}
}