.span-check{
    padding: 6px;
    border-radius: 10px;
}

.label-check {
    position:relative;
    cursor:pointer;
}

.label-check [type="checkbox"] {
    display:none; 
}

[type="checkbox"] + span.span-check {
    display:inline-block;
    background:#e6e6e6;
}   

:checked + span.span-check {
    background:#99ceff;

}   
[type="checkbox"][disabled] + span.span-check{
    background:#f0f0f5;  
}

<style>

div.justify-class{
    text-align:justify;
    position:relative;
}
div.justify-class span{
    display:inline-block;
}
div.justify-class:after {
    display:inline-block;
    width:100%;
    content:'';
}

.spinning {
    font-size: 6em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  -webkit-animation: spin .2s infinite linear;
  -moz-animation: spin .2s infinite linear;
  -o-animation: spin .2s infinite linear;
  animation: spin .2s infinite linear;
     -webkit-transform-origin: 50% 46%;
         transform-origin: 50% 46%;
         -ms-transform-origin:50% 46%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glyphicon.lg {
    font-size: 6em;
}
