/* containers */
.center-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.row-center-container {
    flex-direction: row;
}

.column-center-container {
    flex-direction: column;
}

.overlay-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
    z-index: 1000;
    overflow-y: scroll;
}

.overlay-content {
    position: relative;
    margin: 0 auto;
    top: 5px;
    max-width: 700px;
    box-shadow: 13px 13px 10px -13px #444;
    background-color: rgba(255,255,255,0.99);
    overflow-y: scroll;
    padding: 5px;
    text-align: center;
}

.width-80p {
    max-width: 80%;
    width: auto;
    text-align: left;
}

.height-90p {
    max-height: 90%;
    height: auto;
}

.param-title-div {
    background-color: rgba(200, 200, 200, 1);
    text-align: center;
    width: 100%;
    padding:0px;
    margin:0px;
}

.status-bar {
    background: white;
    color: white;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease;
    height: 20px;
    padding: 1.5px;
    margin-top: 10px;
}

.container-shadow {
    box-shadow: 2px 9px 3px 4px #bbbbbb;
}


.main-page-panel {
    /*background: rgba(0, 60, 0, 0.2);
     */
    box-shadow: 2px 3px 4px 4px #bbbbbb;
    padding: 20px;
    min-height: 600px;
    width: 100%;
}

.wf-page-panel {
    /*background: rgba(0, 60, 0, 0.2);*/
    box-shadow: 0px 4px 3px  #bbbbbb, 0px -4px 3px #bbbbbb;
    padding: 20px;
    margin: 25px;
    width: 98%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.step-panel {
    background: rgba(250, 250, 250, 0.9);
    /*box-shadow: 0px 9px 3px 3px #bbbbbb;*/
    box-shadow: 2px 3px 4px 4px #bbbbbb;
    min-height: 100px;
    min-width: 300px;
    max-width: 97%;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.please-wait-panel {
    position: fixed;
    height: 90%;
    width: 40%;
    transition: 0.5s;   
    background-color: rgba(240,240,240, 1);
}

.simple-span {
    display: inline-block;
    margin: 20px;
    padding: 4px;
    text-align: center;
}

.inline-div-50 {
    display: inline;
    width: 50%;
}
/**************/

/* buttons */
.main-panel-btn {
    background: rgba(0, 74, 0, 0.55);
    color: white;
    min-height: 50px;
    max-height: 50px;
    min-width: 350px;
    width: 50%;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-panel-btn:hover:enabled {
    background: rgba(0, 74, 0, 0.4);
}

.main-panel-btn:disabled {
    background: rgba(30, 30, 30, 0.5);
}

.ok-ko-btn {
    width: 20px;
    margin-right: 10px;
}

.home-title-btn {
    margin: 0px;
    padding:0px;
    background-color: rgba(200, 200, 200, 1);
}
.home-title-btn:hover {
    background: rgba(20, 20, 20, 0.1);
}
/***********/

/* global */

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}

.all-width {
    width: 100%;
}

.pos-fix {
    position: fixed;
}
.width-400 {
    width: 400px;
}

.top-margin-20 {
    margin-top: 20px;
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

.w-40pc {
    max-width: 40%;
}

.w-30pc {
    max-width: 30%;
}

.w-20pc {
  max-width: 20%;
}

.w-15pc {
    max-width: 15%;
}

.w-10pc {
    max-width: 10%;
}

/***********/

/* text */

.please-wait-text {
    margin: 6px;
    font-size: 16px;

}

/***********/

.input-span {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.sub-title-div {
    font-size: 22px;
    background: rgb(177, 103, 109, 0.99);
    background: rgb(194,214,214, 0.5);
    min-height: 50px;
    margin: 20px;
    box-shadow: 0px 9px 3px -3px #bbbbbb;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.model-info-div {
    font-size: 16px;
    min-height: 80px;
    margin: 20px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
}

.model-info-div:hover {
    box-shadow: 8px 8px 8px 8px #bbbbbb;
}

.model-info-div-title {
    font-size: 22px;
    background: rgb(194,214,214, 0.5);
    padding: 8px;
}

.fixed-page-title {
    position: fixed;
    left: 0px;
    top: 3px;
    width: 100%;
    background-color: rgba(83, 140, 198,0.9);
    box-shadow: 0px 12px 4px -4px #bbbbbb;
    padding: 3px 3px 6px 3px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    color: rgba(255,255,255,0.99);
}

.workflow-page-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
    font-size: 24px;
    display: table;
    width: 97%;
    background: rgb(194,214,214, 0.5);
    border-radius: 10px;
}



.workflow-btn-old {
    border: 0;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
    min-height: 35px;
    background: rgb(0, 74, 0, 0.55);
    color: white;
    font-size: 20px;
    border-radius: 2px;
    display: table-cell;
}

.top-spacing-div {
    margin-top: 90px;
}

.center-div-container {
    text-align: center;
}

.main-page-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
    font-size: 24px;
    display: table;
    width: 97%;
    background: rgb(194,214,214, 0.5);
    border-radius: 10px;
}

.main-page-button-div:hover {
    box-shadow: 6px 6px 9px 5px #bbbbbb;
    background: rgb(194,214,214, 0.9);
}

.launch-optimization-div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
    font-size: 24px;
    display: table;
    width: 97%;
    background: rgb(194,214,214, 0.5);
    border-radius: 10px;
}

.center-text-inside-div {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.object-iframe {
    margin-top: 65px;
    width: 98%;
    min-height: 500px;
    /*overflow: hidden;*/
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    display: table;
}

.loader-obj-container {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.accept-btn {
    background-color: rgb(100, 200, 120);
    color: black;
    border-radius: 5px;
}

.decline-btn {
    background-color: rgb(255, 100, 100);
    color: black;
    border-radius: 5px;
}

.terms-obj-container {
    left: 0px;
    top: 0px;
    margin: 5%  auto 10% auto;
    text-align: center; 
    font-size: 18px;
    background: rgb(240, 240, 240);
    width: 50%;
    box-shadow: 10px 10px 5px #888888;
    padding: 30px 60px 70px 60px;
    /*
    overflow: hidden;
    */
}

.page-iframes {
    border: 3px solid #606060;
    width: 650px;
    height: 800px;
    max-width: 800px;
    max-height: 1200px;
}

.toggle-text {
    font-size: 25px;
}


.fn-container {
    font-size: 16px;
}   

.wf-title {
    padding: 6px;
    font-size: 20px;
}

.cell {
    margin: 2em 0;
    font-size: 16px;
}   

.single-cell {
    font-size: 12px;
}

.cell-button{
    font-size: 14px;
}

.cell-heading {
    overflow: hidden;
    min-height: 1px;
}


.ctrl_box {
    font-family: sans-serif;
    color: #808080;
    width: 100%;
    text-align: center;
    padding: 15pt 0;
}   

#gonextform {
    display: inline;
}       

.span-check{
    padding: 6px;
    border-radius: 10px;
}

.label-check {
    position:relative;
    cursor:pointer;
}

.label-check [type="checkbox"] {
    display:none; 
}

[type="checkbox"] + span.span-check {
    display:inline-block;
    background:#e6e6e6;
}   

:checked + span.span-check {
    background:#99ceff;

}   
[type="checkbox"][disabled] + span.span-check{
    background:#f0f0f5;  
}


div.justify-class{
    text-align:justify;
    position:relative;
}
div.justify-class span{
    display:inline-block;
}
div.justify-class:after {
    display:inline-block;
    width:100%;
    content:'';
}

.spinning {
    -webkit-animation: spin .8s infinite linear;
    -moz-animation: spin .8s infinite linear;
    -o-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.glyphicon.lg {
    font-size: 2.0em;
    padding: 15px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#mainDiv {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


