/* containers */
.center-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-shadow {
    box-shadow: 0px 9px 3px 3px #bbbbbb;
}

.row-center-container {
    flex-direction: row;
}

.column-center-container {
    flex-direction: column;
}

.main-page-panel {
    background: rgba(0, 60, 0, 0.2);
    box-shadow: 0px 9px 3px -3px #bbbbbb;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.step-panel {
    background: rgba(250, 250, 250);
    box-shadow: 0px 9px 3px 3px #bbbbbb;
    min-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**************/

/* buttons */
.main-panel-btn {
    background: rgba(0, 74, 0, 0.55);
    color: white;
    min-height: 50px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.main-panel-btn:hover:enabled {
    background: rgba(0, 74, 0, 0.3);
}

.main-panel-btn:disabled {
    background: rgba(30, 30, 30, 0.1);
}

/***********/

/* global */
.all-width {
    width: 100%;
}

.width-400 {
    width: 400px;
}

.height-600 {
    height: 600px;
}

.min-height-600 {
    min-height: 600px;
}

.top-margin-20 {
    margin-top: 20px;
}

.bottom-margin-20 {
    margin-bottom: 20px;
}
/***********/

.input-span {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.sub-title-div {
    font-size: 22px;
    background: rgb(177, 103, 109, 0.99);
    background: rgb(194,214,214, 0.5);
    min-height: 50px;
    margin: 20px;
    box-shadow: 0px 9px 3px -3px #bbbbbb;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.model-info-div {
    font-size: 16px;
    min-height: 80px;
    margin: 20px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
}

.model-info-div:hover {
    box-shadow: 8px 8px 8px 8px #bbbbbb;
}

.model-info-div-title {
    font-size: 22px;
    background: rgb(194,214,214, 0.5);
    padding: 8px;
}

.fixed-page-title {
    position: fixed;
    left: 0px;
    top: 3px;
    width: 100%;
    background-color: rgba(83, 140, 198,0.9);
    box-shadow: 0px 12px 4px -4px #bbbbbb;
    padding: 3px 3px 6px 3px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    color: rgba(255,255,255,0.99);

}

.workflow-page-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
    font-size: 24px;
    display: table;
    width: 97%;
    background: rgb(194,214,214, 0.5);
    border-radius: 10px;
}



.workflow-btn-old {
    border: 0;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
    min-height: 35px;
    background: rgb(0, 74, 0, 0.55);
    color: white;
    font-size: 20px;
    border-radius: 2px;
    display: table-cell;
}

.top-spacing-div {
    margin-top: 90px;
}

.center-div-container {
    text-align: center;
}

.main-page-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
    font-size: 24px;
    display: table;
    width: 97%;
    background: rgb(194,214,214, 0.5);
    border-radius: 10px;
}

.main-page-button-div:hover {
    box-shadow: 6px 6px 9px 5px #bbbbbb;
    background: rgb(194,214,214, 0.9);
}

.launch-optimization-div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    box-shadow: 3px 3px 3px 3px #bbbbbb;
    font-size: 24px;
    display: table;
    width: 97%;
    background: rgb(194,214,214, 0.5);
    border-radius: 10px;
}

.center-text-inside-div {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.object-iframe {
    margin-top: 65px;
    width: 98%;
    min-height: 500px;
    /*overflow: hidden;*/
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    display: table;
}

.loader-obj-container {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.accept-btn {
    background-color: rgb(100, 200, 120);
    color: black;
    border-radius: 5px;
}

.decline-btn {
    background-color: rgb(255, 100, 100);
    color: black;
    border-radius: 5px;
}


.terms {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(255, 255, 255);
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    display: table;
    /*overflow: hidden;*/
}

.terms-obj-container {
    left: 0px;
    top: 0px;
    margin: 5%  auto 10% auto;
    vertical-align: top;
    text-align: center; 
    /*display: table-cell;*/
    font-size: 18px;
    background: rgb(240, 240, 240);
    width: 90%;
    height: 90%;
    box-shadow: 10px 10px 5px #888888;
    padding: 30px 60px 70px 60px;
    /*overflow: hidden;*/
}

.page-iframes {
border: 3px solid #606060;
width: 650px;
height: 800px;
max-width: 800px;
max-height: 1200px;
}

.toggle-text {
        font-size: 25px;
}


.fn-container {
    font-size: 16px;
}   

.cell {
    margin: 2em 0;
    font-size: 18px;
}   

.single-cell {
    font-size: 12px;
}

.cell-button{
    font-size: 14px;
}

.cell-heading {
    overflow: hidden;
    min-height: 1px;
}


.ctrl_box {
    font-family: sans-serif;
    color: #808080;
    width: 100%;
    text-align: center;
    padding: 15pt 0;
}   
                    
#gonextform {
    display: inline;
}       






.span-check{
    padding: 6px;
    border-radius: 10px;
}

.label-check {
    position:relative;
    cursor:pointer;
}

.label-check [type="checkbox"] {
    display:none; 
}

[type="checkbox"] + span.span-check {
    display:inline-block;
    background:#e6e6e6;
}   

:checked + span.span-check {
    background:#99ceff;

}   
[type="checkbox"][disabled] + span.span-check{
    background:#f0f0f5;  
}


div.justify-class{
    text-align:justify;
    position:relative;
}
div.justify-class span{
    display:inline-block;
}
div.justify-class:after {
    display:inline-block;
    width:100%;
    content:'';
}

.spinning {
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    -webkit-animation: spin .8s infinite linear;
    -moz-animation: spin .8s infinite linear;
    -o-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.glyphicon.lg {
    font-size: 1.6em;
}











.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
