{% extends 'hhnb/home_layout.html' %}
{% load static  %}

{% block content  %}
<div id="mainDivMod" class="center-container">
    <div id=sub-title-div class="sub-title-div center-container row-center-container">
        <div class=center-div-container>
            <div>Choose an optimization from the database</div>
        </div>
    </div>
    <div class="row">
    <button id="back-to-wf-btn" type="button" class="btn btn-default col-6 " onclick="window.location.href = '/hh-neuron-builder/workflow/'">Cancel</button>
    </div>
</div>

<!-- "Please wait" message div -->
<div id="overlaywrapperwaitmod" class="overlay-wrapper">
    <div id="overlaywaitmod" style="top:35%;" class="overlay-content standard-border">
        <div class="center-container">
            <div class="row-center-container">
                <div style="margin:auto;" class="spinning lg"></div>
                <div id="waitdynamictextmod" class="please-wait-text"></div>
                <div class="please-wait-text">Please wait ...</div>
            </div>
        </div>
    </div>
</div>
<!-- -->
<script type="text/javascript" src="{% static 'hhnb/js/choose_opt_model.js' %}"></script>
<script type="text/javascript" src="{% static 'hhnb/js/common.js' %}"></script>

{% endblock  %}

