{% extends 'hhnb/home_layout.html' %}
{% load static %}

{% block content %}


<div id="home-main-div">
    <div class="hhnb-secondary-nav">
        <div class="page-title">Run Simulation</div>
        <a href="https://humanbrainproject.github.io/hbp-sp6-guidebook/online_usecases/single_cell_building/hippocampus/p1_hh_neuron_builder/p1_hh_neuron_builder.html"
        target="_blank">
        <span class="info-icon" title="Read the Guidebook"></span>
        </a>
        <a href="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/web-resources-bsp/bsp-video-tutorials/HodgkinHuxleyNeuronBuilder/index.html"
        target="_blank">
        <span class="tutorial-icon" title="Watch the video tutorial"></span>
        </a>
    </div>
</div>

<div class="page">

    <div class="container main-content extends">
        <div class="row">
            <div id="bluenaas-frame-div">
                <iframe id="naas-frame" class="object-iframe" type="text/html"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" id="back-to-wf-btn" class="btn main-panel-btn maximize" onclick="backToWorkflow()">Back to workflow</button>
            </div>
            <div class="col">
                <!-- <button type="button" id="reg-mod-main-btn" class="btn main-panel-btn maximize disabled" onclick="/*registerModelMain()*/" title="Temporarily unavailable"
                        value="mc-register" title="The registration of the model in the Model Catalog
                        is currently being finalized for integration with the EBRAINS 
                        Collaboratory v2. It will be active again in a few days.">Register in Model Catalog</button> -->
                <button type="button" id="reg-mod-main-btn" class="btn main-panel-btn maximize disable" title="Temporarily unavailable">
                    Register in Model Catalog    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bug-fill" viewBox="0 0 16 16">
                        <path d="M4.978.855a.5.5 0 1 0-.956.29l.41 1.352A4.985 4.985 0 0 0 3 6h10a4.985 4.985 0 0 0-1.432-3.503l.41-1.352a.5.5 0 1 0-.956-.29l-.291.956A4.978 4.978 0 0 0 8 1a4.979 4.979 0 0 0-2.731.811l-.29-.956z"/>
                        <path d="M13 6v1H8.5v8.975A5 5 0 0 0 13 11h.5a.5.5 0 0 1 .5.5v.5a.5.5 0 1 0 1 0v-.5a1.5 1.5 0 0 0-1.5-1.5H13V9h1.5a.5.5 0 0 0 0-1H13V7h.5A1.5 1.5 0 0 0 15 5.5V5a.5.5 0 0 0-1 0v.5a.5.5 0 0 1-.5.5H13zm-5.5 9.975V7H3V6h-.5a.5.5 0 0 1-.5-.5V5a.5.5 0 0 0-1 0v.5A1.5 1.5 0 0 0 2.5 7H3v1H1.5a.5.5 0 0 0 0 1H3v1h-.5A1.5 1.5 0 0 0 1 11.5v.5a.5.5 0 1 0 1 0v-.5a.5.5 0 0 1 .5-.5H3a5 5 0 0 0 4.5 4.975z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="overlaywrapper" class="overlay-wrapper">
    <div id="overlaywrapmodreg" class="overlay-content ">
        <div class="container reg-model-content">
            <form id="modelRegisterForm" method="POST">{% csrf_token %}   
                    <div class="card">
                        <div class="card-header"><b>Register Model in Model Catalog</b></div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="input-group">
                                        <span class="input-group-text" id="modelNameLabel">Model Name</span>
                                        <input type="text" id="modelName" name="modelName" class="form-control text-end" readonly value="il fani è un bel modellp">
                                        <input type="text" id="modelSuffix" name="modelSuffix" placeholder="complete (if needed)" class="form-control">
                                    </div>
                                </div>
                                <div class="row-separator"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <span class="input-group-text" id="authorFirstNameLabel">Author FirstName</span>
                                            <input type="text" class="form-control" id="authorFirstName" name="authorFirstName" aria-label="Author First name" aria-labelledby="authorFirstNameLabel" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <span class="input-group-text" id="authorLastNameLabel">Author LastName</span>
                                            <input type="text" class="form-control" id="authorLastName" name="authorLastName" aria-label="Author Last name" aria-labelledby="authorLastNameLabel" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-separator"></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <span class="input-group-text" id="ownerFirstNameLabel">Owner FirstName</span>
                                            <input type="text" class="form-control" id="ownerFirstName" name="ownerFirstName" aria-label="Owner First name" aria-labelledby="ownerFirstNameLabel" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group">
                                            <span class="input-group-text" id="ownerLastNameLabel">Owner LastName</span>
                                            <input type="text" class="form-control" id="ownerLastName" name="ownerLastName" aria-label="Owner Last name" aria-labelledby="ownerLastNameLabel" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-separator"></div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="row g-0">
                                            <div class="card">
                                                <div class="card-header input-card-header">Model License</div>
                                                <div class="card-body">
                                                    <div class="row">
                                                    <div class="col">
                                                        <select class="form-select" id="modelLicense" name="modelLicense">
                                                            <option selected>CC BY</option>
                                                            <option>CC BY-SA</option>
                                                            <option>CC BY-ND</option>
                                                            <option>CC BY-NC</option>
                                                            <option>CC BY-NC-SA</option>
                                                            <option>CC BY-NC-ND</option>
                                                        </select>
                                                    </div>
                                                    <div class="col" style="align-self: end">
                                                        <a href="https://appukuttan-shailesh.github.io/testData/image.png" target="_blank">
                                                            <span class="info-icon" title="Licences description"></span>
                                                        </a>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-separator"></div>
                                        <div class="row g-0">
                                            <div class="card">
                                                <div class="card-header input-card-header">Private Model</div>
                                                <div class="card-body">
                                                    <div>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" id="modelPrivate" checked="false" style="margin-left: auto; width: 2.8em; height: 1.2em;">
                                                            <label class="form-check-label" for="modelPrivate" id="modelPrivateValue">Public</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="card">
                                            <div class="card-header input-card-header">About Cell</div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="modelOrganizationLabel">Organization</span>
                                                            <input type="text" class="form-control" id="modelOrganization" name="modelOrganization" aria-label="Model Organization" aria-labelledby="modelOrganizationLabel" required>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="modelSpeciesLabel">Species</span>
                                                            <input type="text" class="form-control" id="modelSpecies" name="modelSpecies" aria-label="Model species" aria-labelledby="modelSpeciesLabel" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-separator"></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="modelBrainRegionLabel">Brain Region</span>
                                                            <input type="text" class="form-control" id="modelBrainRegion" name="modelBrainRegion" aria-label="Model brain region" aria-labelledby="modelBrainRegionLabel" required>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="modelCellTypeLabel">Cell Type</span>
                                                            <input type="text" class="form-control" id="modelCellType" name="modelCellType" aria-label="Model cell type" aria-labelledby="modelCellTypeLabel" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-separator"></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="modelScopeLabel">Model Scope</span>
                                                            <input type="text" class="form-control" id="modelScope" name="modelScope" aria-label="Model scope" aria-labelledby="modelScopeLabel" required>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="modelAbstractionLabel">Abstraction Level</span>
                                                            <input type="text" class="form-control" id="modelAbstraction" name="modelAbstraction" aria-label="Model abstraction level" aria-labelledby="modelAbstractionLabel" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-separator"></div>
                                <div class="row g-0">
                                    <div class="card">
                                        <div class="card-header input-card-header">Model Description</div>
                                        <div class="card-body" style="padding: 0px;">
                                            <textarea id="modelDescription" name="modelDescription" style="padding: 4px; width: 100%; height: 100%; border: 0px;" placeholder="Insert model description here (if any)"></textarea>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </form>
            <br>
            <div class="row">
                <div class="col">
                    <button id="cancel-model-register-btn" type="button" onclick="closeModelRegistrationDiv()" class="btn workflow-btn">Cancel</button>
                </div>
                <div class="col">
                    <button type="button" name="register_mc_form" id="register-model-btn" onclick="registerModel()" class="btn workflow-btn">Register</button>
                </div>
            </div>
        </div>
    </div>


    <!-- error div -->
    <div id="overlaywrappererror" class="overlay-content">
        <div id="overlayerror" class="error-content">
            <div id="errordynamictext"></div>
            <br>
            <button id="ok-error-div-btn" class="btn workflow-btn" onclick="closeErrorDiv()">Ok</button>
        </div>
    </div>

</div>

    <!-- Continue Message div -->
    <!-- <div id="ow-msg-continue-naas" class="overlay-wrapper">
        <div id="o-msg-continue-naas" style="top:35%;"
            class="overlay-content standard-border">
            <div id="continue-msg-text-naas" class="please-wait-text"></div>
            <br>
            <div class="center-container">
                <div class="row-center-container">
                    <button id="msg-continue-cancel-btn" type="button"
                            class="btn btn-primary closebtn">Cancel
                    </button>
                    <button id="msg-continue-ok-btn" type="button"
                            class="btn btn-primary closebtn">Proceed
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- -->

    <!-- <div id="overlaywrappermsgnaas" class="overlay-wrapper">
        <div id="overlaymsgnaas" style="top:35%;"
             class="overlay-content standard-border">
            <div id="spinning-wheel-naas" style="margin:auto;"
                 class="spinning lg">
            </div>
            <div id="msgtextnaas" class="please-wait-text"></div>
            <br>
            <div class="center-container">
                <div class="row-center-container">
                    <button id="msg-ok-btn" type="button"
                            class="btn btn-primary closebtn">Ok
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- ModelCatalog div -->
    
</div>
<!-- -->

<script type="text/javascript" src="{% static 'hhnb/js/embedded_naas.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'common/js/panel_manager.js' %}"></script> -->

{% endblock %}