{% extends 'hhnb/home_layout.html' %}
{% load static  %}

{% block content %}

<div class="home-main-div">
    <div class="hhnb-secondary-nav">
        <div class="page-title">Overview</div>
    </div>
    <div class="hhnb-navbar navbar"></div>
</div>


<div class="page">
    <div class="container main-content home">
        <div class="row">
            <div class="col">
                Go through the entire cell NEURON model building pipeline via the following steps:
                <ul>
                    <li>electrophysiological feature extraction from voltage traces;</li>
                    <li>model parameter optimization</li>
                    <li><i>in silico</i> experiments using the optimized model cell.</li>
                </ul>
                Click on the buttons on the right to get started.
            </div>
            <div class="col">
                <div class="row side-button-panel">
                    <button id="new-wf" type="button" class="btn btn-lg main-panel-btn" onclick="initNewWorkflow();">
                        Initiate a new workflow
                    </button>
                </div>
                <br><br>
                <div class="row side-button-panel">
                    <input type="file" accept="application/zip" id="workflow-upload" style="display: none">
                    <button id="fetch-wf-btn" type="button" class="btn btn-lg main-panel-btn" onclick="uploadWorkflow();">
                        Upload workflow
                    </button>                
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var exc = "{{ exc }}";
    var ctx = "{{ ctx }}";
    sessionStorage.setItem("exc", exc);
    sessionStorage.setItem("ctx", ctx);
</script>

<script type="text/javascript" src="{% static 'hhnb/js/home.js' %}"></script>
{% endblock %}
