{% extends 'hhnb/home_layout.html' %}
{% load static  %}

{% block content %}

<div id="js-banner-block" class="dimmed-background">
    <div id="js-banner" class="card border-secondary" style="width: 24rem; border-radius: 8px;">
        <img src="{% static 'ebrains/img/favicon.svg' %}" class="card-img-top center" style="padding: 2rem 6rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title flex-center text-center">Welcome<br>to the<br>Hodgkin-Huxley NeuronBuilder</h5>
            <p class="card-text flex-center text-center">This tool makes an intensive use of JavaScript.<br>Please, make sure you have not disabled JavaScript for this domain.</p>
            <p></p>
            <button class="btn btn-primary" style="display: block; margin: auto;" onclick="$('#js-banner-block').css('display', 'none');">JavaScript is enabled</button>
        </div>
    </div>
</div>

<div class="home-main-div">
    <div class="hhnb-secondary-nav home">
        <div class="page-title">Overview</div>
    </div>
</div>


<div class="page">
    <div class="container main-content home">
        <div class="row">
            <div class="col">
                <div class="main-message-div">
                    Build a single cell NEURON model via the following steps:
                    <br><br>
                    electrophysiological feature extraction from voltage traces<br>
                    model parameter optimization<br>
                    <i>in silico</i> experiments based on the optimized single cell model<br>
                    <br>
                    <span class="click-btn-msg">Click a button below or read the <a href="/hh-neuron-builder/docs" target="_blank">guidebook</a> to get started</span>
                    <hr class="hr-separator">
                    <div class="row side-button-panel">
                        <button id="new-wf" type="button" class="btn btn-lg main-panel-btn">
                            Initiate a new workflow
                        </button>
                    </div>
                    <br>
                    <div class="row side-button-panel">
                        <input type="file" accept="application/zip" id="workflow-upload" style="display: none">
                        <button id="fetch-wf-btn" type="button" class="btn btn-lg main-panel-btn">
                            Upload workflow
                        </button>
                    </div>
                </div>
            </div>
        </div>
            
        </div>
    </div>
</div>

<div id="overlaywrapperdialog" class="overlay-wrapper">
    <div id="overlaycontentdialog" class="overlay-content">
        <div id="overlaydialog">
            <div id="dialogtext"></div>
            <br>
            <button id="dialog-btn" class="btn workflow-btn"></button>
        </div>
    </div>
 </div>

<div class="loading-animation sublayer show">
    <div class="loading-animation container-glass show">
        <div id="loading-text-div" class="loading-animation text show">
            Loading...
        </div>
        <div class="loading-animation frames show"></div>
    </div>
</div>

<script>
    sessionStorage.setItem("exc", "{{ exc }}");
</script>

<script type="module" src="{% static 'hhnb/js/home.js' %}"></script>
{% endblock %}
