.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
   
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}
   
.node text {
    font-size:14px; 
    font-family:sans-serif;
}
   
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 4px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
