body {
    text-align: justify;
    overflow-wrap: break-word;
    font: 500 1rem/1.5625rem "Montserrat", sans-serif;
    color: #787976;
    line-height: 2rem;
    letter-spacing: 0.5px;
    overflow: overlay;
}


/* Chrome, Safari, Edge, Opera */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #ccc;
}

body::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
  }

body {
    scrollbar-width: thin;
    scrollbar-color: #999 #ccc; 
}


b {
    font: 800 1rem/1.5625rem "Montserrat", sans-serif;
    color: #484a46;
}

a {
    color: #203e51;
    text-decoration: underline;
}

a:hover {
    color: #0a58ca;
}

input[type=text],
input[type=password],
input[type=number] {
    border-color: #aaa;
    height: 85%;
}

input[type=text],
input[type=password] {
    width: 7.5rem;
}

input[type=number] {
    width: 5rem;
}


a.alert-link:hover {
    color: white;
}

label.withinTable {
    color: #999999;
    font-weight: normal;
}

label.activated {
    color: black;
    font-weight: normal;
}

label.selected {
    color: black;
    font-weight: bold;
}

label.withinTable:hover {
    background-color: rgba(153, 204, 255, 0.7);
    /*
     * font-style: italic;
     * text-decoration-line: underline;
     * transition: all 1s linear;
     * transform: scale(2, 2); 
     */
}

.mx-10 {
    margin-right: 10rem;
    margin-left: 10rem;
}

.mx-15 {
    margin-right: 15rem;
    margin-left: 15rem;
}

.px-15 {
    padding-right: 15rem;
    padding-left: 15rem;
}

.clickable {
    cursor: pointer;
}

.openable {
    max-height: 0;
    overflow: hidden;
}

.open-animation {
    transition: max-height 0.1s ease-out;
}

.small-text {
    font-size: 0.9rem;
}

.text-justify {
    text-align: justify;
}

.w-15 {
    width: 15% !important;
}

.dropdown-toggle.show::after {
    transform:rotate(180deg);
}

.btn-primary {
    color: #fff;
    background-color:  #417fa6;
    border-color: #417fa6;
}

.btn-primary:hover {
    background-color: #274c63;
    border-color: #274c63;
}

.btn-primary:focus {
    background-color: #203e51;
    border-color: #203e51;
    box-shadow: none;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #203e51;
    border-color: #203e51;
}

.btn-primary:active:focus,
.btn-primary.active:focus {
    box-shadow: none;
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #274c63;
    border-color: #274c63;
}

.btn-outline-primary {
    color: #274c63;
    border-color: #274c63;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color:  #417fa6;
    border-color: #274c63;
}

.btn-outline-primary:focus {
    box-shadow: none;
}

.btn-outline-primary:active,
.btn-outline-primary.active {
    color: #fff;
    background-color: #274c63;
    border-color: #274c63;
}

.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus {
    box-shadow: none;
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
    color: #274c63;
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: #203e51;
    text-decoration: underline;
}

.btn-link:hover {
    color: #0a58ca;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #6c757d;
}

.bg-primary {
    background-color: #203e51 !important;
}

.border-primary {
    border-color: #203e51 !important;
}

.bg-light-yellow {
    background-color: #ddd7a8;
}

.bg-light-grey {
    background-color: #e6e6e6;
}

.light-grey-text {
    color: #969696;
}

.light-grey-text:hover {
    color: #2e5a76;
}

.dropdown-menu {
    min-width: 12rem;
}

.overlay-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 100;
    overflow-y: auto;
    padding: 50px;
    text-align: center;
}

.overlay-content {
    position: relative;
    margin: 0 auto;
    top: 5px;
    max-width: 750px;
    box-shadow: 13px 13px 10px -13px #444;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 15px;
    border-radius: 20px;
}

.span-check {
    padding: 6px;
    /* border-radius: 12px; */
    margin: 4px;
}

.label-check {
    position: relative;
    cursor: pointer;
}

.label-check [type="checkbox"] {
    display: none;
}

[type="checkbox"]+span.span-check {
    display: inline-block;
    background: rgba(233, 233, 233, 0.8);
}

:checked+span.span-check {
    background: rgba(64, 127, 166, 0.75);
    color: white;
}

[type="checkbox"][disabled]+span.span-check {
    background: rgba(240, 240, 245, 0.8);
}

@media (max-width: 768px) {
    .mx-10 {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .mx-15 {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .px-15 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.site-header {
    z-index: 99;
}
