html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    min-width: 1000px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: darkgray rgba(169, 169, 169, .0);
}

.btn, .btn:focus, .btn:hover {
    box-shadow: none;
    /* border-color: unset; */
}
.form-control, .form-control:hover, .form-control:focus {
    box-shadow: none;
    border: 1px solid lightgray;
}

.form-control.border-black, .form-control.border-black:hover, .form-control.border-black:focus{
    border: 1px solid black;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}

::-webkit-scrollbar-corner {
    background: none;
    background-color: none;
    color: none;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
    background-color: none;
}
/*  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */


body {
    min-width: 1000px;
    margin: 0;
    background-color: #F0F5FCD4;
    overflow-y: visible;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.col-extends {
    width: 800px;
}

.bg-red-light {
    background-color: rgb(212, 120, 120);
}

.hhnb-main-nav {
    position: fixed;
    min-width: 1000px;
    width: 100%;
    height: 12.5%;
    top: 0;
    z-index: 90;
    /* background-color: rgb(255, 99, 71); */
    background-color:  #37474f; /*#ff872ec9; /*#fd6c00b8; /*#a68c41; /*#b25811ff;*/
    display: flex;
    margin: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 1.5px solid #cfd8dc;
}

.hhnb-main-nav-left-separator {
    margin-right: 10%;
}

.hhnb-main-nav-center-content {
    text-align: center;
}


.hhnb-main-nav-title {
    margin: 10px 0px;
    color: #ffffff;
    font-size: bold;
    text-align: center;
}

.hhnb-main-nav-icon{
    width: max-content;
    justify-content: center;
    display: flex;
    /* right: 2%; */
}
.hhnb-main-nav-icon > a {
    text-decoration: none;
    margin: auto;
    margin-left: 8px;
}


.main-title {
    text-align: center;
    font-weight: bolder;
    color: white;
}
.main-title > h1 {
    font-size: 2.1rem;
}
.main-title > h5 {
    font-size: 1.2rem;
}
.main-title > h1, h5 {
    margin: -10px 0;
    padding: 0.3rem;
    font-weight: bold;
}

.hhnb-secondary-nav {
    min-width: 1000px;
    position: fixed;
    top: 12.5%;
    width: 100%;
    height: 5%;
    z-index: 85;
    /* background-color: rgb(255, 152, 134); */
    background-color: #37474f; /*#fd6c00b8; /*#b25811ff;*/
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    display: flex;
    align-items: center;
}


.hhnb-secondary-nav.home {
    box-shadow: 0 5px 10px 0 rgba(80, 80, 80, .8);
}

.hhnb-secondary-nav > a {
    margin-left: 8px;
}

.hhnb-navbar {
    align-content: center;
    top: 17.5%;
    position: fixed;
    width: 100%;
    height: 5%;
    /* background-color: rgb(255, 99, 71); */
    background-color: #cfd8dc;
    /* color: #a25e17cf; */
    color: rgb(80, 80, 80);
    padding-left: 10%;
    padding-right: 10%;
    /* box-shadow: 0 5px 10px 0 rgba(80, 80, 80, .8); */
    box-shadow: 0rem 1rem 10px -6px rgba(0, 0, 0, .45);
    z-index: 84;
}

.hhnb-navbar-btn {
    height: 28px;
    text-decoration: none;
    color: rgb(80, 80, 80);
    transition: all 0.3s ease;
    margin-left: 1%;
    line-height: 0;   
}
.hhnb-navbar-btn:hover, hhnb-navbar-btn:focus {
    background-color: #546e7a;
    color: white;
}
.workflow-id-text {
    margin-right: auto;
    font-size: 1.15rem;
}

.main-content-title > .title{
    font-size: 1.4rem;
    font-weight: normal;
    /* color: rgb(50, 50, 50); */
    color: white;
    text-align: center;
    margin: auto;
}

.page-title {
    margin: auto;
    /* margin-left: 0; */
    font-size: 1.2rem;
}

.page {
    padding: 1.5% 2.0%;
    /* padding-top: 3%; */
    height: calc(100vh - 22.5%);
    overflow: auto;
    top: 22.5%;
    left: 0px;
    right: 0px;
    position: fixed;
}

.page.choose-opt-model {
    padding: 5%
}

.page.iframe {
    padding: 0;
}

.main-content {
    background-color: white;
    border-radius: .75rem;
    border: solid 1px #cfd8dc;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    box-shadow: 0rem 1rem 5px -6px rgba(0, 0, 0, .35);
    width: 80%;
    max-width: 1100px;
    min-width: 980px;
    /* margin: auto; */
    padding: 0 2.5rem;
    transition: all ease .3s;
}
.main-content.home {
    padding: 3%;
    font-size: 1.2rem;
    font-weight: 500;
}
.main-content.home > .row > .col {
    margin: auto 1rem;
}

.main-content.opt-model-content {
    padding: 40px 0px;
}
.navbar.opt-model-content {
    margin: auto;
    margin-top: -40px;
}

.main-content > .row > .col {
    padding: .2rem;
}

.main-content.extends {
    /* max-width: 95%; */
    padding: 2rem;
    height: 90%;
    width: 95%;
    max-width: unset;
}
.object-iframe {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: visible;
    border: solid 1px lightgray;
    border-radius: .5rem;
    scrollbar-width: thin;
}

/* Overview page content */
.side-button-panel {
    height: 60%;
    margin: auto;
}

.click-btn-msg {
    font-size: 0.8rem;
    text-align: center;
}
.hr-separator {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4rem;
    margin-bottom: 1.8rem;
}
.main-message-div {
    text-align: center; 
    padding: 1rem;
    font-size: 1.4rem;
}
.main-panel-btn {
    margin: auto;
    width: 70%;
    background-color: white;
    color: black;
    transition: all .3s linear;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: .5rem;
    border: solid 1.5px #78909c;
}
.main-panel-btn.extends {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 2rem;
}
.main-panel-btn:hover, .main-panel-btn:focus, .btn.focus {
    background-color: #546e7a; /*#fbd25dff;*/
    color: white;
    box-shadow: 0px 5px 15px darkgray;
    /* transform: scale(1.1) perspective(1.1px); */
}
.main-panel-btn:disabled {
    border: none;
}
.main-panel-btn.disable {
    background-color:rgb(210, 210, 210);
    color: rgb(50, 50, 50);
    transform: unset;
    box-shadow: unset;
    transition: unset;
    cursor: unset;
    border-color: white;
}

.no-scale:hover, .no-scale:focus {
    transform: unset;
    box-shadow: unset;
}
.main-panel-btn:disabled {
    background-color: lightgray;
    color: rgb(50, 50, 50);
}

/* Workflow page content */
.main-content-title {
    margin: 0 -2.5rem;
    margin-bottom: unset;
    background-color: #37474f; 
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.workflow-content {
    min-width: 1000px;
    max-width: 1100px;
    margin-top: 2rem;
    margin-top: 2rem;
}

.workflow-title {
    margin-top: 12px;
    margin-bottom: 4px;
    color: rgb(50, 50, 50);
    text-decoration: underline;
    cursor: help;
}

.workflow-content > .row > .col {
    /* padding: 0 4px; */
}

.secondary-content {
    border: solid 1px #cfd8dc;
    border-radius: .5rem;
    margin-top: 1.5rem;
    padding: 1rem;
    padding-bottom: 2rem;
}
.secondary-content.large {
    min-width: 100%;
}

.secondary-content > .row {
    justify-content: center;
}
.box-title {
    /* margin: auto; */
    /* margin-left: 1rem; */
    width: auto;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    /* color: #793802ff; */
    color: black;
}

.row-separator {
    min-width: 180px;
    margin: auto;
    padding: 0 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.dark-gray-line {
    height: 1px;
    background-color: darkgray;
}

.workflow-btn {
    margin: .5rem 0;
    /* color: #793802ff; */
    color: rgb(80, 80, 80);
    border: solid 1.5px #78909c; /*#fbd25dff;*/  
    line-height: 1.2;
    transition: all 0.3s ease;
    width: 80%;
    box-shadow: unset;
    border-radius: .5rem;
}
.workflow-btn.full {
    width: 100%;
}

.workflow-btn.fill-background {
    background-color: #ffffff; /*#fbd25dff;*/  
}

.workflow-btn:hover, .workflow-btn:focus{
    background-color: #cfd8dc; /*#fbd25dff;*/
    /* color: #793802ff; */
}

.workflow-btn.red {
    border: solid 1.5px red;  
    color: red;
}
.workflow-btn.red:hover, .workflow-btn.red:focus {
    background-color: red;
    color: white;
} 

.workflow-btn.green {
    border: solid 1.5px green;
    color: green; 
}
.workflow-btn.green:hover, .workflow-btn.green:focus {
    background-color: green;
    color: white;
} 

.workflow-btn.blue {
    border: solid 1.5px blue;
    color: blue;   
}
.workflow-btn.blue:hover, .workflow-btn.blue:focus {
    background-color: blue;
    color: white;
} 

.floating-btn {
    position: fixed;
    width: 70%;
    height: 8%;
    left: 15%;
    z-index: 50;
    font-size: 1.5rem;
    opacity: .8;
    transition: all ease-out 0.3s;
}
.floating-btn:hover {
    opacity: 1;
    box-shadow: unset;
    transform: unset;
}
.floating-btn.dissolved {
    transform: translateY(-200px);
}

.btn-link:hover, .btn-link:focus, .btn-link:active {
    box-shadow: unset;    
}

.workflow-btn.x2 {
    height: 81.6px;
}
.workflow-btn.extends {
    width: 100%;
    height: 80%;
    max-width: 450px;
}
.workflow-btn.small {
    height: 2rem;
}
.workflow-btn.lg {
    /* width: 350px; */
    height: 4rem;
}
.status-bar-text {
    font-size: .9rem;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0;
    /* margin: auto; */
    /* font-weight: ; */
}

.status-bar {
    position: relative;
    /* left: 13px; */
    top: -1.5rem;
    /* width: 280px; */
    height: max-content;
    min-height: 1.5rem;
    margin:auto;
    /* border: solid 1px darkgray; */
    border-top: unset;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    transition: all 0.3s ease;
}
.status-bar:hover {
    background-color: rgb(0, 210, 0);
}
.status-bar.red {
    background-color: #d20000; /*#d04c35; /*#ff6249ff;*/
}
.status-bar.green {
    background-color: #0c6f0cb3; /*#0c6f0c; /*#32cd32ff;*/
}
.status-bar.orange {
    background-color: #fd7700b3;
}

.status-bar.extends {
    width: 100%;
    margin: 0px auto;
}

/* .accordion-header */
.accordion-button {
    box-shadow: unset;
}
.accordion-button:not(.collapsed) {
    background-color: #37474f;
    color: white;
    box-shadow: unset;
}
.accordion-button.collapsed {
    background-color: rgba(255, 255, 255, .5);
    color: 37474f;
}
.accordion-button.active {
    background-color: #37474f;
    color: white;
    box-shadow: unset;
}
.accordion-item {
    background-color: rgba(255, 255, 255, .3);
    border-color: #37474f;
}
.accordion-button:not(.collapsed)::after, accordion-button.active::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button.disabled, .accordion-button.disable {
    background-color: lightgray;
    color: gray;
    cursor: unset;
    box-shadow: unset;
    border-color: unset;
}

/* choose opt model page content */
.opt-model-container {
    /* height: 100%; */
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.scrollable-element {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #0066ff99 #0066ff11;
    scrollbar-highlight-color: #0066ff;
}


.model-info-div {
    padding: 2rem;
    border: solid 1px #78909c;
    border-radius: 1rem;
    font-size: 1rem;
    /* min-height: 40%; */
    transition: all 0.2s ease;   
    margin: 6rem auto 2rem auto;
    cursor: pointer;
}

.model-info-div:hover {
    box-shadow: 0rem 1rem 5px -12px darkgray;
    /* border: #0066ff99 solid 2px; */
    transform: scale(1.02, 1.02);
    /* transform: scale(1.02); */
}

.model-info-div-title {
    /* font-size: 22px; */
    margin: -2rem;
    margin-bottom: 2rem;
    background: #78909c;
    /* background: lightgray; */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 1rem;
    /* color: rgb(100, 100, 100); */
    color: white;
    font-weight: bold;
}


#jobProcessingTitle {
    font-weight: bold;
    margin: 20px;
}


.progress-bar-animated {
    animation-duration: .5s;
}
#progressBarFetchJob.s40 {
    transition: width 40s linear;
}
#progressBarFetchJob.s20 {
    transition: width 20s linear;
}
#progressBarFetchJob.s4 {
    transition: width 4s linear;
}
#progressBarFetchJob.s2 {
    transition: width 2s linear;
}

.fade-text {
    opacity: 0;
}



/* login section fixed css */

.user-img > img{
    border-radius: 64px;
    width: 36px;
    height: auto;
    color: white;
    font-size: 1.3rem;
    line-height: 38px;
    text-decoration: underline;
}

.login-section {
    width: max-content;
    display: flex;
    justify-content: center;
}

.login-section > .user-img {
    margin: auto;
    margin-right: 12px;
}
.login-section > .user-img > img {
    width: 3rem;
    border-radius: 3rem;
    border: solid 1px #0066ff;
}

.login, .logout {
    cursor: pointer;
    text-decoration: none;
    align-self: center;
}
.login-section > .logout > img,
.login-section > .login > img {
    margin: auto;
    margin-right: 12px;
}
.login-section > .logout > strong,
.login-section > .login > strong {
    text-align: center;
    color: #eeeeee;
    font-size: 1.3rem;
}


/* overlay content */

.overlay-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 100;
    overflow-y: auto;
    padding: 50px;
    transition: all ease 0.3s;
}

.overlay-content:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.8);
    filter: blur(100px);
    margin: -20px;
}

.overlay-content {
    display: none;
    position: relative;
    margin: auto;
    top: calc(50%);
    width: max-content;
    /* min-width: 800px; */
    height: max-content;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .8); 
    z-index: 100;
    transition: all ease-out 0.3s;
    transform: translateY(-50%);
}

.overlay-content.overflow {
    overflow-y: auto;
}
/* 
.reg-model-content {
    /* transform: translateY( -20% ); */
    /* width: 850px; */
}
 */
.error-content {
    /* max-width: 800px; */
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
}

/* .info-content > button {
    border-color: blue;
    color: bl;
}
.info-content > button:hover {
    background-color: blue;
    color: white;
} */

#overlayupload {
    width: 520px;
    min-width: unset;
}

#uploadImg > img{
    margin: 12px 0px;
    width: 100%;
    height: auto;
}

#overlayparam {
    --height: max-content;
    height: var(--height);
    width: 800px;
    top: calc(100vh - height/2);
}

.list-group-item {
    cursor: pointer;
    border: solid 1px #78909c;
    /* color: #0066ff; */
    transition: all ease 0.3s;
}

.form-label{
    /* width: max-content; */
    margin: 1rem auto;
}

.form-select {
    width: auto;
    margin: auto;
}

.form-check-input {
    margin-left: auto;
    width: 3em;
    height: 1.2em;
}

.input-group-text {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    min-width: 150px;
}
.input-group-text.lg {
    min-width: 170px;
}

.form-control.username {
    margin-right: 12px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.input-group-text.password {
    margin-left: 12px;
}

.form-label {
    font-weight: bold;
}

.form-label.range {
    font-weight: unset;
    margin-right: 100px;
}

.reg-model-form {
    width: 950px;
}

.hpc-param-chooser {
    width: 100%;    
    background: rgba(255, 255, 255, .5);
    padding: 16px;
}

.list-group {
    width: 100%;
    padding: 8px 0px;
}
.list-group-item {
    padding: 5px;
    width: 15rem;
    background-color: rgba(255, 255, 255, .5);
    transition: all ease 0.3s;
    color: #37474fff;
}
.list-group-item.active {
    background-color: #37474f;
    border-color: #78909c;
}

.list-group-item:hover {
    background-color: #cfd8dc;
    color: white;
}
.list-group-item.disabled {
    background-color: rgba(220, 220, 220, .5);
    border-color: unset;
}
.list-group-item.fetch-jobs {
    width: 100%;
}
.list-group-item.fetch-jobs:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.list-group-item.fetch-jobs:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.list-group-item.disable {
    background-color: rgb(210, 210, 210);
    color: rgb(50, 50, 50);
    border-color: #78909c;
    cursor: unset;
}

.row > .progress {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 500px;
}

.progress-bar {
    background-color: #78909c;
    animation-duration: 5s;
    transition-duration: 5s;
}

.job-list-table {
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 8px;
    min-width: auto;
    padding: 8px 8px;
}

#nsgLoginRow, #saChoiseRow, #spinnerRow, #progressRow, #tableRow {
    display: none;
}

.table-hover>tbody>tr:hover{
    color: var(--bs-table-hover-color);
    --bs-table-accent-bg: rgb(255, 255, 255);
}

td {
    line-height: 2;
    vertical-align: middle;
}

.job-button {
    width: 48px;
    height: 48px;
    margin: auto;
    padding: 0px;
}

.job-button.left {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    border-right-width: 0px;
}
.job-button.right {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -2px;
    border-left-width: 1px;
}

.alert {
    top: 10vh;
    z-index: -999;
    position: absolute;
    width: 80%;
    left: 10%;
}
.alert.show {
    z-index: 999;
}


.input-card-header {
    font-size: small;
    padding: 0px 10px;
    color: darkgray;
}

#checkNsgLoginCard {
    padding-left: 0px;
    padding-right: 0px;
}

#checkNsgLoginButton {
    width: 100%;
}
#checkNsgSpinnerButton {
    opacity: 0;
    transition: all ease .3s;
}

#fileListAccordion {
    min-width: 450px;
    margin: 1rem 0;
}
.list-files {
    border: 1px solid #ffa93a;
    border-radius: .75rem;
    background-color: rgba(255, 255, 255, .65);
}
.list-files:first-child {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}
.list-files:last-child {
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.morp-item, .mod-item {
    cursor: pointer;
   /* background-color: rgba(255, 255, 255, .7); */
}
.morp-item:hover, .mod-item:hover {
    background-color: white;
}
.morp-item > span, .mod-item > span {
    margin-right: 28px;
}

.hhf-integration-component {
    display: none;
}

/* file manager ui */

.file-manager {
    width: 100%;
    height: 100%;
    border: solid rgba(250, 250, 250, .8) 8px;
    background-color: rgba(250, 250, 250, .5);
    border-radius: inherit;
}


.file-manager-container {
    /* min-width: 1084px; */
    line-height: 1.5;
    height: 100%;
}
.file-manager-container > .row {
    margin: 0;
    padding: 0;
}
.file-manager-container > .row.full {
    height: 95%;
}
.file-manager-ui-button {
    height: 5%;
}
.file-manager-group {
    width: auto;
    padding: 0;
    height: 100%;
}
.file-manager-group:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.file-manager-group:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.file-manager-group > .list-group-item {
    border-color: white;
}


#editorselector, #fileeditor {
    display: none;
    opacity: 0;
}

.folder-selector {
    height: 90%;
    min-width: 240px;
} 

.folder-selector.fade-out, .file-selector.fade-out {
    animation: fade-out .15s linear 0s 1 forwards ;
}
.folder-selector.fade-in, .file-selector.fade-in {
    animation: fade-in .15s linear 0s 1 forwards;
}

.folder-group > .list-group-item:hover {
    background-color: #cfd8dc;
    color: #212529;
}
.folder-group > .list-group-item.active:hover {
    background-color: #212529;
    color: white;
}


.file-selector {
    background-color: rgba(255, 255, 255, .2);
    line-height: 1;
    overflow: auto;
    scrollbar-width: thin;
    min-width: 480px;
    height: 100%;
}
.file-group {
    background-color: none;
}
.file-group > .list-group-item:hover {
    background-color: #cfd8dc;
    color: #212529;
}

.file-selector > .list-group > .list-group-item:hover {
    background-color:#cfd8dc;
}
.file-group > .list-group-item.active,
.file-group > .list-group-item.active:hover  {
    background-color: #cfd8dc;
    color: #212529;
}

.file-manager-group > .list-group-item {
    width: inherit;
}

.overlay-content.file-manager-content {
    /* vertically centered */
    top: 50%;
    transform: translateY(-50%);
    /***********************/
    padding: 0rem;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
    min-width: 750px;
    min-height: 500px;
}

.file-code {
    width: max-content;
    border-radius: inherit;
    border: none;
    line-height: 1.5;
    text-align: left;
}
.file-textarea {
    width: 100%;
    height: 100%;
    font-size: .9rem;
    border-radius: inherit;
    overflow-x: auto;
    padding: 4px;
    background-color: inherit;
    resize: none;
    line-height: 1.5;
    white-space: pre;
    text-align: left;
    scrollbar-width: thin;
    border-bottom-right-radius: 12px;
    border: solid 4px rgba(0,0,0,0);
}

.file-textarea:focus, .file-code:focus, pre:focus, code:focus {
    outline-width: 0;
}

.file-item.empty {
    background-color: unset;
    border: unset;
    font-size: 1.5rem;
    color: rgb(180, 180, 180);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    cursor: default;
}/*
.file-item.empty:hover, .file-item.empty.active {
    background-color: unset;
    border: unset;
    color: rgb(180, 180, 180);
}*/

.spinner-border.file-item-spinner {
    display: none;
    position: relative;
    top: calc( 50% - 18px );
    left: calc( 50% - 18px );
    color: rgb(180,180,180);
    width: 48px;
    height: 48px;
    font-size: 1.2rem;
}

.model-key-flex-col {
    display: flex;
}
.model-key-group {
    align-self: end;
    align-self: flex-end;
    /* padding: 22px; */
    display: flex;
    height: 45px;
    margin-bottom: -8px;
    margin-left: auto;
    margin-right: auto;
}

.model-key-group > label {
    padding: .5rem;
}

.model-key-group > input {
    height: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.model-key-group > .form-control:not(:placeholder-shown) ~ label {
    transform: scale(.80) translateY(-.5rem) translateX(.5rem);
}

.model-key-input {
    border: solid 1px white;
}
.model-key-input:hover, .model-key-input:focus-visible, .model-key-input:active {
    border-color: #daa520ff;
}

.model-key-btn, .model-key-btn:hover {
    border: solid 1px white;
    box-shadow: unset;
    background-color: #daa520ff;
    color: white;
    border-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.model-key-btn:active {
    color: white;
    background-color: #daa5204d;
}

.edit-floating-btn, .save-floating-btn {
    border-radius: 64px;
    width: 48px;
    height: 48px;
    background-color: #546e7a;
    position: absolute;
    right: 3%;
    bottom: 0%;
    opacity: 0;
    transition: all ease-out .15s;
    -webkit-transition: all ease-out .15s;
    box-shadow: 0px 6px 4px -2px rgb(120, 120 , 120);
    cursor: pointer;
    z-index: 2;
}
.save-floating-btn {
    transition-duration: .3s;
    bottom: 5%;
    z-index: 1;
}
#saveFileButtonSpinner {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin-top: 12px;
    margin-left: 12px;
}

.edit-floating-btn > img, .save-floating-btn > img {
    width: 24px;
    height: 24px;
    top: 8px;
    left: 2px;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.save-floating-btn > img {
    left: 0px;
}

.edit-floating-btn.show {
    bottom: 5%;
    opacity: 1;
}
.save-floating-btn.show {
    bottom: 15%;
    opacity: 1;
}

.edit-floating-btn.clicked {
    box-shadow: 0 0 0 0 rgb(120, 120 , 120);
    bottom: 4.5%;
}

.edit-floating-btn > img.back-arrow {
    content: url('../img/back-arrow-white.svg');
    left: 0px;
    top: 9px;
}

.save-floating-btn.clicked {
    box-shadow: 0 0 0 0 rgb(120, 120 , 120);
    bottom: 14.5%;
}

.editor-alert {
    /* display: block; */
    opacity: 0;
    position: absolute;
    width: calc( (1100px / 3) * 2 );
    left: calc( 1100px / 3 );
    bottom: 0%;
    transition: all ease-out .3s;
}
.editor-alert > div {
    width: max-content;
    padding: 8px 36px;
    border-radius: 64px;
    line-height: 1.5;
    margin: auto;
    color: white;
    font-weight: bold;
}
.editor-alert > div.info {
    background-color: rgba(0, 76, 121, 0.52);
}
.editor-alert > div.error {
    background-color: rgba(191, 14, 14, 0.61);
}
.editor-alert.show {
    opacity: 1;
    bottom: 5%;
}

/* file manager animations */

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* icons */

.info-icon {
    background-image: url('../img/info.png');
    width: 24px;
    height: 24px;
}
.tutorial-icon {
    background-image: url('../img/video.png');
    width: 24px;
    height: 24px;
}

a > span.info-icon {
    display: inline-block;
    margin-left: auto;
}
a > span.tutorial-icon {
    display: inline-block;
    margin-left: 0px;
    margin-right: 10%;
}

.col > .info-icon {
    margin: auto;
    margin-right: 0px;
    cursor: help;
}

/* single class style */
small-placeholder::placeholder {
    font-size: small;
}

.no-text-decorator {
    text-decoration: none;
}

.flex-start {
    display: flex;
    justify-content: start;
    align-self: center;
    width: 1rem;
}
.flex-start > i {
    margin-left: 1rem;
}

.flex-end {
    display: flex;
    justify-content: end;
    justify-content: flex-end;
    align-self: center;
}
.flex-end > i {
    margin-right: 1rem;
}

.margin-right-05 {
    margin-right: 0rem;
}

.margin-auto {
    margin: auto;
}

.margin-top-12 {
    margin-top: 12px;
}

.margin-right-1 {
    margin-right: 1rem;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-right-12 {
    margin-right: 12px;
}
 
.margin-bottom-12 {
    margin-bottom: 12px;
}

.padding-right-10 {
    padding-right: 10%;
}

.padding-left-10 {
    padding-left: 10%;
}

.separator-8 {
    margin: 0px 8px;
}

.border-radius-64 {
    border-radius: 64px;
}

.aling-self-center {
    align-self: center;
}

.flex-grow-1 {
    flex-grow: 1
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-4 {
    flex-grow: 8
}

.fix-width-950 {
    min-width: 950px;
}

.bg-tomato {
    background-color: rgb(230, 99, 71);
}

.bg-tomato-light {
    background-color: rgb(255, 152, 134);
}

.bg-red {
    background-color: rgb(173, 24, 24);
}

.bg-lightgray {
    background-color: rgb(238, 238, 238);
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

i.white {
    color: white;
}
i.blue {
    color: #0066ff;
} 
i.brown {
    color: #793802ff;
}
i.black {
    color: black; 
}

/* animations */
.fade-out {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s;
}


/* Icons */

.fa-folder, .fa-folder-open {
    transition: all .3s ease;
    cursor: pointer;
}

.fa-times-circle {
    cursor: pointer;
    transition: all ease 0.3s;
    /*margin-right: .5rem;*/
}
.fa-times-circle:hover {
    color: #d20000;
}

.fa-check-circle {
    cursor: pointer;
    transition: all ease 0.3s;
    /*margin-right: .5rem;*/
}
.fa-check-circle:hover {
    color: #3db308;
}

.fa-file-upload {
    cursor: pointer;
    transition: all ease 0.3s;
}
.fa-file-upload:hover {
    color: #009cf4ff;
}

.fa-file-download {
    cursor: pointer;
    transition: all ease 0.3s;
}
.fa-file-download:hover {
    color: #55d400ff;
}

.fa-trash {
    cursor: pointer;
    transition: all ease .3s;
}
.fa-trash:hover {
    color: #d20000;
}
.fa-check-double {
    cursor: pointer;
    transition: all ease .3s;
}
.fa-check-double:hover {
    color: #daa520ff;
}
.fa-sync-alt {
    cursor: pointer;
    transition: all ease .3s;
}
.fa-sync-alt:hover {
    color: rgb(255, 115, 0);
}

.fa-file-alt {
    cursor: pointer;
    transition: all ease .3s;
}
.fa-file-alt:hover {
    color: #c700ff;
}

i.disabled {
    color: rgb(190, 190, 190);
    cursor: unset;
}
i.disabled:hover {
    color: rgb(190, 190, 190);
}

#infoFileManagerButton {
    cursor: pointer;
    transition: all ease 0.3s;
}

#infoFileManagerButton:hover {
    color: #0aa0fb;
}

#editFileButtonImage {
    transition: all ease-in .15s;
}
#editFileButtonImage.zoomout {
    opacity: 0;
    transform: scale(0%);
    -webkit-transform: scale(0);
}


.modal-content.sublayer {
    display: flex;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 101vw;
    height: 101vh;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    overflow-y: auto;
    z-index: -100;
    transition: opacity ease .3s;
    opacity: 0;
}

.modal-content.sublayer.show {
    opacity: 1;
}
.modal-content.container-glass:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.822);
    filter: blur(100px);
    padding: 2rem;
}

.modal-content.container-glass {
    position: relative;
    margin: auto;
    width: calc(100vw - 5%);
    height: calc(100vh - 5%);
    border: solid 1px black;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.75);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .8); 
    z-index: 100;
    top: -25%;
    transition: all ease-out .3s;
    opacity: 0;
}
.modal-content.container-glass.show {
    opacity: 1;
    top: 0%
}


.modal-content.container-glass.mc {
    height: unset;
    width: unset;
    padding: unset;
}

.object-iframe.modal {
    width: unset;
    height: unset;
}

.modal-container {
    margin: 0;
    max-width: unset;
    height: 100%;
    width: 100%;
}

.modal-mc-container {
    padding: unset;
    /* margin: unset; */
    padding-top: 4rem;
}
.modal-dialog.mc {
    max-width: unset;

}

.modal-content.mc {
    background-color: rgb(255, 255, 255, 0.75);
    max-width: 1130px;
    margin: auto;
    border-radius: 2rem;
    box-shadow:  2px 2px 20px rgba(0, 0, 0, .45)
}

.floating-btn.mc {
    /* background-color:rgb(173, 24, 24); */
    /* color: white; */
    font-weight: bold;
    margin-top: 2rem;
    /* max-width: 1100px; */
    opacity: 0;
    transition: all ease-out .5s;
    /* width: 50%; */
    width: 40%;
    left: 30%;
    top: -5%;
    height: 4rem;
}

.floating-btn.mc.show {
    z-index: 100000;
    opacity: .7;
    top: 2rem;
}

.floating-btn.mc.show:hover {
    opacity: 1;
}

.main-content.model-info-div {
    width: unset;
    min-width: unset;
    margin: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.main-panel-btn.extends.modal-btn {
    margin: auto;
    min-height: 50px;
    min-width: 250px;
    width: 70%;
}

#errordynamictext {
    max-width: 750px;
}

.fa-external-link-alt {
    transition: all ease 0.15s; 
}
.fa-external-link-alt:hover {
    transform: scale(1.5, 1.5);
}

#dialogtext {
    min-width: 300px;
    /* font-weight: bold; */
    padding: 1rem;
}

.workflow-content.disabled {
    transform: translateY(6px);
    box-shadow: unset;
}

.scroll-long-content {
    top: unset;
    transform: unset;
    margin-top: 10px;
}

#overlayjobs {
    transition: unset;
    /* max-width: 1300px; */
    min-width: 1000px;
}

#overlaycontentdialog {
    max-width: 800px;
}

#modelName {
    padding-right: 0px;
}

#modelSuffix {
    padding-left: 0px;
}

.form-select {
    width: 100%;
}

#external_link {
    color: white;
}

#js-banner {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    transform: translateY(20%);
    z-index: 1000;
    transition: all 0.3s ease;
}
#js-banner.dismiss {
    transform: translateY(-15%);
}

.dimmed-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000000cc;
    transition: all 0.3s ease;
}
.dimmed-background-fade-out {
    opacity: 0;
}

.sa-dropdown, .sa-dropdown-menu  {
    width: 100%;
}

.gone {
    display: none;
}