{% extends 'hh_neuron_builder/home_layout.html' %}
{% load static  %}
{% load oidc_session %}

{% block content  %}
<div id=sub-title-div class="sub-title-div"><div class=center-div-container><div>Choose an optimization from the database</div></div></div>

<button id="back-to-wf-btn" type="button" class="btn btn-default" onclick="window.location.href">Cancel</button>
<script type="text/javascript" src="{% static 'hh_neuron_builder/js/choose_opt_model.js' %}"></script>
<script type="text/javascript" src="{% static 'hh_neuron_builder/js/common.js' %}"></script>

{% endblock  %}

