{% extends 'hh_neuron_builder/home_layout.html' %}
{% load static  %}
{% load oidc_session %}

{% block content  %}

<div id="efelgui-frame-div">
    <iframe style="border-style: solid;" id="naas-frame" class="object-iframe" type="text/html" src=""></iframe>
</div>
<button type="button" id="back-to-wf-btn" style="float:right;" class="btn btn-default workflow-btn">Back to workflow</button>

<script type="text/javascript" src="{% static 'hh_neuron_builder/js/embedded_naas.js' %}"></script>
{% endblock  %}
