{% extends 'hh_neuron_builder/home_layout.html' %}
{% load static  %}

{% block content  %}

<div id="efelgui-frame-div">
    <iframe onload="check_last_page(this)" frameborder="0" style="border-style:
        solid;" id="efelgui-frame" class="object-iframe" type="text/html"
        onload="this.style.height=this.contentDocument.body.scrollHeight +'px';">
    </iframe>
</div>
<button type="button" id="back-to-workflow" style="float:right;" class="workflow-btn btn btn-default">Cancel</button>
<button type="button" id="save-feature-files" style="float:right;display:none" class="workflow-btn btn btn-default">Save to workflow</button>

<script>

$.getJSON('/hh-neuron-builder/get-context/', function(data){
       var context = data["context"];         
        document.getElementById("efelgui-frame").setAttribute("src", "/efelg/?ctx=" + context);
        //document.getElementById('efelgui-frame').src =
        //    document.getElementById('efelgui-frame').src;
    })
document.getElementById("save-feature-files").onclick = save_features;

var check_last_page = function(iframe){
    var innerDiv = iframe.contentDocument || iframe.contentWindow.document;
    var test = innerDiv.getElementById("hiddendiv");
    if(test != undefined) {
        document.getElementById("save-feature-files").style.display = "block";
    } else {
        console.log("UNDEFINED hidden div");
    }
};


function save_features(){
    var innerDiv = document.getElementById("efelgui-frame").contentDocument || getElementById("efelgui-frame").contentWindow.document;
    var folderName = innerDiv.getElementById("hiddendiv").classList[0];
    $.getJSON('/hh-neuron-builder/copy-feature-files/' + folderName, function(data){
    window.location.href = "/hh-neuron-builder/workflow";
    });    
}

</script>

<script type="text/javascript" src="{% static 'hh_neuron_builder/js/embedded_efel_gui.js' %}"></script>
{% endblock  %}
