{% extends 'hh_neuron_builder/home_layout.html' %}
{% load static  %}

{% block content  %}

<div id="mainDiv" class="center-container row-center-container">
    <div id="cell-opt-div" class="center-container wf-page-panel">
        <div>
            <h2>Cell Optimization</h2>
        </div>
        <div class="center-container row-center-container">
            <div class="step-panel">
                <div class="center-container">
                    <h3>Feature extraction</h3> 
                </div>
                <div class="center-container">
                    <button type="button" id="feat-efel-btn" class="btn btn-default" >Extract features</button>
                    <button type="button" id="feat-up-btn" class="btn btn-default" disabled>Load feature files</button>
                </div>
                <div class="center-container">
                    <button id="edit-feat" type="button" class="btn btn-link" disabled>Edit features files</button>
                    <button id="del-feat" type="button" class="btn btn-link" disabled>Delete feature files</button>
                </div>
                <div id="feat-bar" class="status-bar center-container">
                </div>
            </div>
        </div>


        <div class="center-container row-center-container">
            <div class="step-panel">
                <div class="center-container">
                    <h3>Optimization files</h3> 
                </div>
                <div class="center-container">
                    <button type="button" id="opt-db-hpc-btn" title="Use optimization files from the database" class="btn btn-default" >Choose from database</button>
                    <button type="button" id="opt-up-btn" class="btn btn-default" disabled>Upload</button>
                </div>
                <div class="center-container">
                    <button id="edit-opt" type="button" class="btn btn-link" disabled>Edit optimization files</button>
                    <button id="del-opt" type="button" class="btn btn-link" disabled>Delete optimization files</button>
                </div>
                <div id="opt-files-bar" class="center-container status-bar">
                </div>
            </div>
        </div>


        <div class="center-container row-center-container">
            <div class="step-panel">
                <div class="center-container">
                    <h3>Optimization settings</h3> 
                </div>
                <div class="center-container">
                    <button type="button" id="opt-set-btn" class="btn btn-default"  title="Set Optimization parameters" onclick="openSideDiv()">Set parameters/Choose HPC</button>
                </div>
                <div id="opt-param-bar" class="status-bar center-container">
                </div>
            </div>
        </div>


        <div class="center-container">
            <button type="button" id="launch-opt-btn" class="width-step-div main-panel-btn btn btn-lg" disabled>Launch optimization</button>
        </div>
    </div>


    <div id="run-sim-div" class="center-container  wf-page-panel">
        <div>
            <h2>Single cell simulation run</h2>
        </div>

        <div class="center-container row-center-container">
            <div class="step-panel">
                <div class="center-container">
                    <h3>Optimization results</h3> 
                </div>
                <div class="center-container">
                    <button id="opt-fetch-btn" type="button" class="btn btn-default" disabled>Fetch optimization results</button>
                </div>
                <div class="center-container">
                    <form id="uploadForm" action="/hh-neuron-builder/upload-run-model/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <!--
                            <button id="up-sim-model" type="button">Upload model (.zip)</button>
                        -->
                        <label class="btn btn-default">
                            Browse files...
                            <input type="file" name="opt-run-file" id="opt-run-file" accept=".zip" style="display:none"/>
                            <span class="custom-file-control"></span>
                        </label>

                        <input type="submit" id="upload_button" name="upload_button_name" class="btn btn-default" value="Upload" />
                    </form>
                    <div class = "center-container">
                        <div id="res-upload-info-div" style="font-size:16px">
                        </div>
                    </div>
                </div>
                <div id="opt-res-bar" class="status-bar center-container">
                </div>
            </div>
        </div>

        <div class="center-container">
            <button type="button" id="run-sim-btn" class="width-step-div main-panel-btn btn btn-lg" disabled>Run simulation</button>
        </div>
    </div>
</div>




<!-- section containing divs for user insertions -->
<form id='submitRunParam' method='POST' action='/hh-neuron-builder/submit-run-param/'>{% csrf_token %}

    <div style="position:fixed;" id="optSideDiv" class="sidediv">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSideDiv()">&times;</a>
        <strong>Algorithm Parameters</strong>
        <br>
        <br>
        <label for="gen-max">Number of generation (max)</label>
        <br>
        <input class="num-edit" type="number" name="gen-max" id="gen-max" value="2" step="1" min="1"><br>
        <label for="offspring">Offspring size</label>
        <br>
        <input class="num-edit" type="number" name="offspring" id="offspring" value="10" step="1" min="1"><br>
        <br>
        <br>
        <strong>Optimization Run Parameters</strong>
        <br>
        <br>
        <label for="node-num">Number of nodes</label>
        <br>
        <input type="number" name="node-num" id="node-num" value="2"><br>
        <label for="core-num">Number of cores</label>
        <br>
        <input type="number" name="core-num" id="core-num" value="1"><br>
        <label for="runtime">Runtime</label>
        <br>
        <input type="number" name="runtime" id="runtime" value="0.5"><br>
        <br>
        <br>
        <strong>HPC system</strong>
        <br>
        <br>
        <input type="radio" name="marconi" disabled>
        <label for="marconi">MARCONI</label>
        <br>
        <input type="radio" name="jureca" disabled>
        <label for="jureca">JURECA</label>
        <br>
        <input type="radio" name="nsg" checked>
        <label for="nsg">NeuroScience Gateway (NSG)</label>
        <label for="username">Username</label>
        <br>
        <input id="username" size=15px required type="text" name="username">
        <br>
        <label for="password">Password</label>
        <br>
        <input id="password" size=15px required type="password" name="password">
        <br>
        <br>
        <button id="apply-param" class="btn btn-primary">Apply</button>
    </div>
</form>


<script type="text/javascript" src="{% static 'hh_neuron_builder/js/workflow.js' %}"></script>
{% endblock  %}
