
body {
  padding-top:100px;
}

nav a:hover {
  color: #000;
}
nav .active {
  font-weight: 700;
  color: #000;
  border-bottom: 4px solid #000;
}

.hbp-logo > div {
  height: 25px;
  width: 25px;
  margin: 10px 0 10px 15px;
  background: url('https://collab-theme.sos-ch-dk-2.exo.io/HBP-logo.svg');
  background-size: contain;
}

.alert-wrapper {
  min-height: 2em;
  text-align: center;
}

.alert-success { color: #28a745; }
.alert-success:before { content: '✅'}
.alert-warning { color: #ffae92;}
.alert-warning:before { content:'📌'}
.alert-error { color: #dc3545; }
.alert-error:before { content:'⛔';}
.alert-info { color: #007bff;}
.alert-info:before { content: 'ℹ️'}

#helpButton {
  cursor: help;
}

#show-help {
  display: none;
}

#show-help:checked ~ label {
  border-color: transparent;
  /* @apply bg-grey-lighter */
  background-color: #f1f5f8;
}

#show-help:checked ~ .help-content {
  display: block;
}

input[type=submit] {
  cursor: pointer;
}

.account-applications-wrapper {
  height: 2em;
  overflow: hidden;
}
.account-applications input {
  display: none;
}
.account-applications input ~ label:before {
  content: 'display all';
}

.account-applications input:checked ~ label::before {
  content: 'view less';
}

.account-applications input:checked ~ .account-applications-wrapper {
  height: auto;
  min-height: 2em;
}
