{% extends 'hhnb/home_layout.html' %}
{% load static  %}
{% block content  %}

<script type="text/javascript" src="{% static 'common/js/panel_manager.js' %}"></script>
<div id="mainPageDiv">
    <div id="bluenaas-frame-div">
        <iframe style="border-style: solid;" id="naas-frame" 
            class="object-iframe" type="text/html" src=""></iframe>
    </div>
    <div class="container">
        <div class="row">
            <button type="button" id="back-to-wf-btn" 
                class="btn btn-default col col-sm-6">Back to workflow</button>
            <button title=
            "The registration of the model in the Model Catalog  
            is currently being finalized for integration with the EBRAINS 
            Collaboratory v2. It will be active again in a few days."
                 type="button" value="mc-register" 
                 id="reg-mod-main-btn" class="btn btn-default col col-sm-6">
                Register in Model Catalog
            </button>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- Continue Message div -->
<div id="ow-msg-continue-naas" class="overlay-wrapper">
    <div id="o-msg-continue-naas" style="top:35%;" 
        class="overlay-content standard-border">
        <div id="continue-msg-text-naas" class="please-wait-text"></div>
        <br>
        <div class="center-container">
            <div class="row-center-container">
                <button id="msg-continue-cancel-btn" type="button" 
                    class="btn btn-primary closebtn">Cancel</button>
                <button id="msg-continue-ok-btn" type="button" 
                    class="btn btn-primary closebtn">Proceed</button>
            </div>
        </div>
    </div>
</div>
<!-- -->

<!-- Message div -->
<div id="overlaywrappermsgnaas" class="overlay-wrapper">
    <div id="overlaymsgnaas" style="top:35%;" 
                             class="overlay-content standard-border">
        <div id="spinning-wheel-naas"style="margin:auto;" 
            class="spinning lg">
        </div>
        <div id="msgtextnaas" class="please-wait-text"></div>
        <br>
        <div class="center-container">
            <div class="row-center-container">
                <button id="msg-ok-btn" type="button" 
                    class="btn btn-primary closebtn">Ok
                </button>
            </div>
        </div>
    </div>
</div>
<!-- -->


<!-- ModelCatalog div -->
<div id="overlaywrapmodreg" class="overlay-wrapper">
    <br>
    <div id="overlaymodelregister" class="overlay-content overflow min-width-900">
        <form id='modelRegisterForm' method='POST'>{% csrf_token %}
            <div class="param-title-div">
                <strong>Register Model in Model Catalog</strong>
            </div>
            <br>
            <table style="border-spacing:1em;">
                <tr>
                    <td>
                        <label for="modelName">Model Name*: </label>
                    </td>
                    <td>
                        <input type="text" 
                        style="background-color:#e6e6e6; min-width:210px;" 
                        readonly="readonly" id="modelName" name="modelName">
                    </td>
                    <td>
                        <input type="text" name="modelSuffix" id="modelSuffix" 
                        placeholder="complete (if needed)" 
                        style="min-width:150px">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="authorFirstName">Author FirstName**: 
                        </label>
                    </td>
                    <td>
                        <input type="text" name="authorFirstName" 
                        id="authorFirstName" required>
                    </td>
                    <td>
                        <label for="authorLastName">Author LastName**: </label>
                    </td>
                    <td>
                        <input type="text" name="authorLastName" 
                        id="authorLastName" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="ownerFirstName">Owner FirstName**: </label>
                    </td>
                    <td>
                        <input type="text" name="ownerFirstName" id="ownerFirstName" required>
                    </td>
                    <td>
                        <label for="ownerLastName">Owner LastName**: </label>
                    </td>
                    <td>
                        <input type="text" name="ownerLastName" 
                        id="ownerLastName" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="modelLicense">Model License: </label>
                    </td>
                    <td>
                        <select name="modelLicense" id="modelLicense">
                            <option>CC BY</option>
                            <option>CC BY-SA</option>
                            <option>CC BY-ND</option>
                            <option>CC BY-NC</option>
                            <option>CC BY-NC-SA</option>
                            <option>CC BY-NC-ND</option>
                        </select>
                        <a href="https://appukuttan-shailesh.github.io/testData/image.png" target="_blank">&#9432;</a>
                    </td>
                    <td>
                        <label for="modelPrivate">Private Model: </label>
                    </td>
                    <td>
                        <select name="modelPrivate" id="modelPrivate">
                            <option>false</option>
                            <option>true</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="modelOrganization">Organization: </label>
                    </td>
                    <td>
                        <select name="modelOrganization" 
                            id="modelOrganization">
                        </select>
                    </td>
                    <td>
                        <label for="modelSpecies">Species: </label>
                    </td>
                    <td>
                        <select name="modelSpecies" id="modelSpecies">
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="modelBrainRegion">Brain Region: </label>
                    </td>
                    <td>
                        <select name="modelBrainRegion" id="modelBrainRegion">
                        </select>
                    </td>
                    <td>
                        <label for="modelCellType">Cell Type: </label>
                    </td>
                    <td>
                        <select name="modelCellType" id="modelCellType">
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="modelScope">Model Scope: </label>
                    </td>
                    <td>
                        <select name="modelScope" id="modelScope">
                        </select>
                    </td>
                    <td>
                        <label for="modelAbstraction">Abstraction Level: </label>
                    </td>
                    <td>
                        <select name="modelAbstraction" id="modelAbstraction">
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="modelDescription">Model Description***: </label>
                    </td>
                    <td colspan=3>
                        <textarea name="modelDescription" 
                            id="modelDescription" style="width:100%" 
                            placeholder="insert model description here 
                            (if any)">
                        </textarea>
                    </td>
                </tr>
            </table>
            <br>
            <div id="base-model" style="text-align:left">
            </div>
            <div style="text-align:left">
                <i>** required fields</i>
                <br>
                <i>*** if the field has been pre-filled with html-like code and you are not familiar with this notation, 
                    please consider editing the model description at the link that will be displayed on this page after the model will have been registered</i>
            </div>
            <br>
            <br>
            <button id="cancel-model-register-btn" type="button" 
                class="btn btn-primary closebtn">Cancel</button>
            <button type="text" name="register_mc_form" id="register-model-btn" 
                class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
<!-- -->

<script type="text/javascript" 
    src="{% static 'hh_neuron_builder/js/embedded_naas.js' %}"></script>
{% endblock  %}
