{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{% static 'bspganalytics.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'sorttable.js' %}"></script>
    <script type="text/javascript" src="{% static 'moment-with-locales.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bspg.css' %}">
    <title>Hodgkin-Huxley Neuron Builder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script>
        function logout(button) {
            $("#logout-submit-input-button").trigger('click');
        }
    </script>
</head>

<body>
<div id="title-div-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-bordeaux"
         style="display: flex; margin: 0px; margin-bottom: 0px; border-radius: 0px; justify-content: space-around;">
        <div style="display: invisible; margin-right: auto; margin-left: 16px; width: 160px; "></div>
        <div style="text-align: center">
            <h3 style="margin: 10px 0px; color: #FFF; font-size: x-large;">
                Hodgkin-Huxley
                Neuron Builder</h3>
        </div>
        <div style="align-self: center;margin-left: auto; margin-right: 16px; width: 160px; display: inline-flex">
            {% if user.is_authenticated %}
            <a href="/hh-neuron-builder/get-user-page" style="margin:auto;">
                <img style="border-radius: 64px;" src="/hh-neuron-builder/get-user-avatar">
            </a>
            <a style="align-self: center; cursor: pointer; display: flex;" onclick="logout(this);">
                <img style="margin: auto; margin-right: 4px;" src="{% static '/img/login_ico_white.png' %}">
                <strong style="text-align: center; color: #EEE; font-size: 18px;">Log-out</strong>
            </a>
            <form style="display: none" id="logout-form" action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <input id="logout-submit-input-button" type="submit" value="logout">
            </form>
            {% else %}
            <a style="margin-left: auto; display: flex;" href="{% url 'oidc_authentication_init' %}">
                <img style="margin: auto; margin-right: 4px; " src="{% static '/img/login_ico_white.png' %}">
                <strong style="text-align: center; color: #EEE; font-size: 18px;">Log-in</strong>
            </a>
            {% endif %}
        </div>
    </nav>
</div>
{% block content %}{% endblock %}
</body>

</html>
